/* General */

  /* Font */

  /* 全体，ゴシック体 */

  body {
    font-family: 'Helvetica', -apple-system, 'BlinkMacSystemFont', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Noto Sans', 'Noto Sans CJK JP', 'Segoe UI', 'Meiryo', arial, sans-serif;
  }

  /* 明朝体 */

  @font-face {
    font-family: 'Noto Serif Japanese';
    src: url('../font/NotoSerifCJKjp-Light.min.woff2')
  }

  section h2, section p {
    font-family: 'Noto Serif Japanese', sans-serif;
    letter-spacing: 0.1em;
  }

body {
  margin: 0;
  background-color: rgb(57, 57, 57);
  color: rgb(255, 255, 255);
  font-weight: 300;
  overflow-x: hidden;
}

p {
  margin: 0;
  width: auto;
  font-size: 1em;
  line-height: 1.7em;
  word-break: normal;
}

a{
  text-decoration : none;
}
a:hover{
  text-decoration : underline;
}
#about a{
  color: rgba(255,255,255,0.80);
}
#works a{
  color: rgba(0,0,0,0.60);
}

h1, h2, h3 {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* Header */

#first-block {
  position: absolute;
  width: 100%;
  height: 50vh;
  margin-top: -50vh;
  background-color: rgba(213, 0, 0, 0.60);
}

header {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 7.5vh;
  height: 92.5vh;
  width: 100%;
  z-index: -2;
  overflow-x: hidden;
}

#nav-container {
  position: relative;
  width: 100%;
  height: 84vh;
  border-style: solid;
  border-color: rgb(104, 142, 170);
  border-width: 0.75vh 0;
  z-index: 1;
}

nav {
  height: 100%;
  margin-right: 3vw;
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav div, nav img {
  height: 100%;
}

nav li, nav div {
  position: relative;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#nav-line {
  position: absolute;
  background-color: rgb(104, 142, 170);
  top: 0;
  right: 0;
  bottom: 0;
  left: -7.5%;
  margin: auto 0;
  width: 150vw;
  height: 1vh;
}

.nav-hover {
  background-color: rgb(104, 142, 170);
  display: none;
  width: 100%;
}

.nav-hover img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100%;
}

#mcs {
  color: rgb(104, 142, 170);
}

/* Section */

section:last-child {
  margin-bottom: -5em;
}

.block {
  overflow: hidden;
  position: relative;
  transform: skew(0, -8deg);
}

.block:nth-child(even) {
  background-color: rgba(213, 0, 0, 0.60);
  color: rgb(57, 57, 57);
}

.block:nth-child(odd) {
  background-color: rgb(57, 57, 57);
  color: rgb(104, 142, 170);
}

.block:nth-child(even) .main-card {
  background-color: rgb(57, 57, 57);
  color: rgb(255, 255, 255);
}

.block:nth-child(odd) .main-card {
  background-color: rgb(104, 142, 170);
  color: rgb(57, 57, 57);
}

.block:nth-child(even) .main-card .btn {
  background-color: rgba(213, 0, 0, 0.60);
}

.block:nth-child(odd) .main-card .btn {
  background-color: rgb(57, 57, 57);
}

.block-inner {
  width: 80vw;
  transform: skew(0, 8deg)
}
.section-heading p {
  color: rgb(255, 255, 255);
}

.contents {
  margin-top: 1.5em;
  position: relative;
}

.sub-card {
  z-index: 1;
}

.main-card {
  padding: 1.5em;
  position: relative;
  z-index: 0;
}

.main-card h2 {
  font-size: 1.8em;
  line-height: 1.4em;
  font-weight: 300;
  margin-bottom: 0.3em;
}

.main-card h3 {
  font-weight: 200;
  font-size: 1.2em;
}

.btn {
  margin-top: 1em;
  width: 8em;
  text-align: center;
}

.btn a{
  text-decoration: none;
  color: rgba(255,255,255,0.85) !important;
  text-decoration: none;
  display: block;
  padding:0.7em 0 0.5em 0;
}

/* Other */

#leader {
  text-align: right;
  margin-top: 1em;
}

.video-list {
  position: relative;
  width: 90%;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.video, .ratio {
  width: 100%;
  position: relative;
}

.ratio:before {
  content:"";
  display: block;
  padding-bottom: 56.25%;
}

.thumbnail, .ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.thumbnail {
  object-fit: cover;
}

.play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 68px;
}

#works .main-card {
  position: absolute;
  top: 10%;
  right: 0;
  padding: 0;
  margin: 0;
  width: 90%;
}

#works .btn {
  position: absolute;
  right: 1.5em;
  bottom:1.5em;
}
