/* General */

a:hover{
  text-decoration : underline;
}

/* Header */

nav ul {
  width: 52.5vh;
}

nav li {
  height: 7vh;
}

nav li:first-child {
  margin: 7.5vh 0 0 0;
}

nav li:last-child {
  margin: 2vh 0 7.5vh;
}

#welcome-btn .nav-hover {
  width: 47.5vh;
}

#about-btn .nav-hover {
  width: 32.5vh;
}

#works-btn .nav-hover {
  width: 35vh;
}

#mcs {
  padding: 1.75vh 0 0 5vw;
  font-size: 2.5vh;
  color: rgb(104, 142, 170);
}

/* Section */

.block-inner {
  margin: 10vw auto;
  max-width: 950px;
}

  .block-inner:last-child {
    margin-bottom: 10%;
  }

.section-heading {
  display: flex;
  align-items: flex-start;
}

.section-heading h1 {
  margin-right: 0.25em;
  font-size: 5em;
}

.section-heading p {
  font-size: 1.7em;
  line-height: 1.5em;
  flex: 1;
}

.sub-card {
  width: 40%;
  max-width: 500px;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.sub-card img {
  width: 100%;
  height: auto;
}

  .parallax img {
    padding-top: 70px;
  }

.main-card {
  padding: 1.5em;
}

.main-card h3 {
  line-height: 1em;
}

  /* layout1 */

  .layout1 .sub-card {
    margin-top: -15%;
  }

  .layout1 .main-card {
    margin: 20% 0 0 8%;
    padding-left: 25%;
  }

  /* Layout2 */

  .layout2 .sub-card {
    right: 0;
    margin-top: -10%
  }

  .layout2 .main-card {
    margin: 15% 10% 0 0;
    padding-right: 35%;
  }

  .layout2 > .main-card > div {
    width: 95%;
    height: 100%;
    padding-left:5%;
  }
  
  /* Layout3 */

  .layout3 .sub-card {
    margin-top: 3%;
  }

  .layout3 .main-card {
    margin: 3em 0 15% 10%;
    padding-left: 35%;
  }

  .layout3 > .main-card > div {
    width: 95%;
    height: 100%;
  }

  /* Layout4 (table) */

  .layout4 .sub-card {
    max-width: none;
  }

  .layout4 table {
    min-width: 32.5em;
    width: 100%;
    padding: 1em 1em 1em 0;
    line-height: 1.75em;
  }

  .layout4 th {
    padding: 0.5em 0;
    font-weight: 300;
    text-align: center;
    font-size: 1.25em;
  }

  .layout4 tr > * {
    transform: scale(0.9,0.9);
    padding: 0 1em;
    text-align: center;
  }

  .layout4 tr > *:first-child {
    text-align: right;
    width: 3em;
  }

  .layout4 .multiline {
    padding: 0;
    display: inline-block;
    text-align: left;
  }

  .layout4 .ivent{
    background-color: rgb(104, 142, 170);
    color: rgb(57, 57, 57);
  }

  /* Layout5 */

  .layout5 .sub-card {
    right: 0;
    margin-top: 8%
  }

  .layout5 .main-card {
    margin: 3em 10% 0 0;
    padding-right: 35%;
  }

  /* Other */

  #welcome .contents {
    margin: auto auto 0 auto;
    width: 85%;
  }

  #welcome .sub-card {
    width: 30%;
    height: auto;
    max-width: 225px;
  }

  #works .block-inner {
    margin-bottom: 20%;
  }

  #works .main-card {
    height: 115%;
  }

  #how-to .layout3 .main-card {
    margin-bottom: 10%;
  }

  #how-to .layout5 .main-card {
    margin-bottom: 7.5%;
  }
