@charset "UTF-8";
/* CSS Document */

html{
	width: 100%;
	background-color: #1F1F1F;
	position: relative;
}
body{
	position:absolute;
    top:0;
    left:0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
}
header{
	position:relative;
	width: 100vw;
	height: 100vh;
	text-align: center;
}
li{
	list-style-type: none;
	color: #FFFFFF;
}
#headLogo{
	display: inline-block;
	width: 60vw;
	height: 46vh;
	margin-top: 22vh;
}
#date{
	display: inline-block;
	position: absolute;
	width: 60vw;
	max-width: 300px;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
	padding-bottom: 1vh;
	border-bottom: #fff solid 2px;
	z-index: 9999;
	font-size: 1.7rem;
	top: 65vh;
	left: 50vw;
	-webkit-transform: translateY(-65%) translateX(-50%);
    transform: translateY(-65%) translateX(-50%);
}
@media only screen and (max-width: 668px) {
	#date{
		display: inline-block;
		position: absolute;
		width: 60vw;
		max-width: 400px;
		color: #fff;
		font-family: 'Orbitron', sans-serif;
		padding-bottom: 1vh;
		border-bottom: #fff solid 2px;
		z-index: 9999;
		font-size: 1.3rem;
		top: 60vh;
		left: 50vw;
		-webkit-transform: translateY(-60%) translateX(-50%);
	    transform: translateY(-60%) translateX(-50%);
	}	
}
@media screen and (orientation: landscape) {
	#date{
		top: 80vh;
		left: 50vw;
		-webkit-transform: translateY(-80%) translateX(-50%);
	    transform: translateY(-80%) translateX(-50%);
	}
}
h1{
	color: #fff;
	font-size: 1.7rem;
	margin: 0;
}
@media only screen and (max-width: 640px) {
	h1{
	display: inline-block;
	position: relative;
	width: 60vw;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
	padding-bottom: 1vh;
	border-bottom: #fff solid 2px;
	z-index: 9999;
	margin: 0;
	font-size: 1.3rem;
	}
}
h2{
	display: inline-block;
	position: relative;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
	padding-bottom: 1vh;
	border-bottom: #fff solid 2px;
	z-index: 9999;
	margin: 0;
}
@media only screen and (max-width: 640px) {
	h2{
	display: inline-block;
	position: relative;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
	margin-left: 5vw;
	padding-bottom: 1vh;
	border-bottom: #fff solid 2px;
	z-index: 9999;
	margin: 0;
	font-size: 1.0rem;
	}
}
p{
	display: inline-block;
	position: relative;
	color: #fff;
	font-family: sans-serif;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	padding-bottom: 1vh;
	z-index: 9999;
	margin: 0;
	letter-spacing: 2.4px;
	text-align: left;
}
@media only screen and (max-width: 640px) {
	p{
	display: inline-block;
	position: relative;
	color: #fff;
	font-family: sans-serif;
	margin-left: 5vw;
	padding-bottom: 1vh;
	z-index: 9999;
	margin: 0;
	font-size: 0.8rem;
	}
}
img#sos_logo{
	display: inline-block;
	position: absolute;
	top: 40vh;
	left: 50vw;
	width: 60vw;
	max-width: 900px;
	height: 40vw;
	max-height: 300px;
	z-index: 9999;
	-webkit-transform: translateY(-40%) translateX(-50%);
    transform: translateY(-40%) translateX(-50%);
}
@media only screen and (max-width: 640px) {
    img#sos_logo{
	display: inline-block;
	position: absolute;
	width: 90vw;
	top: 40vh;
	left: 50vw;
	-webkit-transform: translateY(-40%) translateX(-50%);
    transform: translateY(-40%) translateX(-50%);
	z-index: 9999;
}
 
} /*デバイスの横幅が640px以下の場合*/
.contents_text{
	margin-left: 4vw;
	margin-right: 4vw;
	margin-bottom: 5vh;
	width: 82vw;
	padding-top: 4vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 4vh;
	background-color: rgba(80,88,90,0.8);
	border-radius: 3px;
	text-align: center;
}
.SubTitle{
	width: 92vw;
	margin-top: 3vh;
	margin-right: 4vw;
	margin-left: 4vw;
}

.canvasWrap{
	width: 100%;
	height: 100%;
	position: relative;
	
}
#myCanvas { 
        position:fixed;
        pointer-events: none;
        top:0;
        left:0;
        width:100%;
        height:100%;
}
.programNum{
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 2vh;
	font-size: 1.2rem;
	text-align: left;
}
@media only screen and (max-width: 640px) {
	.programNum{
		font-size: 1.0rem;
	}
}
.programDetail{
	margin-left: 4vw;
	font-size: 1.0rem;
	letter-spacing: 2.0px;
	text-align: left;
}
@media only screen and (max-width: 640px) {
	.programDetail{
		font-size: 0.8rem;
	}
}
.Program{
	display: inline-block;
	width: 70vw;
	background-color: rgba(221,221,221,0.8);
	max-width: 900px;
	padding-top: 3vh;
	padding-bottom: 3vh;
	padding-left: 3vw;
	padding-right: 3vw;
	border-radius: 2px;
}
.subItem{
	display: inline-block;
	margin: 0;
	padding: 0;
	letter-spacing: 3.0px;
}
.subItemText{
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 0.9rem;
	margin-left: 1vw;
	margin-right: 1vw;
	letter-spacing: 3.0px;
}
@media only screen and (max-width: 640px) {
	.subItemText{
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 0.7rem;
	margin-left: 2vw;
	letter-spacing: 3.0px;
	}
}
