/* Header */

nav ul {
  width: 37.5vh;
}

nav li {
  height: 5.25vh;
}

nav li:first-child {
  margin: 12.5vh 0 0 0;
}

nav li:last-child {
  margin: 3vh 0 12.5vh;
}

#welcome-btn .nav-hover {
  width: 36vh;
}

#about-btn .nav-hover {
  width: 24.5vh;
}

#works-btn .nav-hover {
  width: 26vh;
}

#mcs {
  padding: 2.25vh 0 0 5vw;
  font-size: 2vh;
  color: rgb(104, 142, 170);
}

/* Section */

.block-inner {
  margin: 0 auto;
  padding: 5em 0;
}

.section-heading h1 {
  font-size: 3em;
}

.section-heading p {
  font-size: 1.1em;
  margin-top: 0.5em;
  line-height: 1.5em;
}

.contents {
  display: flex;
}

.sub-card {
  position: relative;
}

.sub-card img {
  width: 65vw;
  height: auto;
}

  /* Layout */

  .layout2, .layout4, .layout5 {
    flex-flow: row-reverse;
  }

  /* layout1 */

  .layout1 .sub-card {
    margin-right: -57.5vw;
  }

  .layout1 .main-card {
    padding-top: 15vw;
  }

  /* Layout2 */

  .layout2 .sub-card {
    margin-left: -57.5vw;
  }

  .layout2 .main-card {
    margin-top: 35vw;
    padding-top: 17.5vw;
  }

  /* Layout3 */

  .layout3 .sub-card {
    margin-right: -57.5vw;
  }

  .layout3 .main-card {
    margin-top: 35vw;
    padding-top: 17.5vw;
  }

  /* Layout4 (table) */

  .layout4 .sub-card {
    width: 100%;
    overflow: scroll;
  }

  .layout4 table {
    min-width: 32.5em;
    padding: 1em 1em 1em 0;
    line-height: 1.75em;
  }

  .layout4 th {
    padding: 0.5em 0;
    font-weight: 300;
    text-align: center;
    font-size: 1.25em;
  }

  .layout4 tr > * {
    transform: scale(0.9,0.9);
    padding: 0 1em;
    text-align: center;
  }

  .layout4 tr > *:first-child {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 0;
    text-align: right;
    background-color: rgb(57, 57, 57);
  }

  .layout4 .multiline {
    padding: 0;
    display: inline-block;
    text-align: left;
  }

  .layout4 .ivent{
    background-color: rgb(104, 142, 170);
    color: rgb(57, 57, 57);
  }

  /* Layout5 */

  .layout5 .sub-card {
    margin-left: -57.5vw;
  }

  .layout5 .main-card {
    margin-top: 35vw;
    padding-top: 17.5vw;
  }

  /* Other */

  #welcome .sub-card > img {
    width: 60vw;
    height: auto;
  }

  #welcome .main-card {
    margin-top: 70vw;
  }

  #works .block-inner {
    padding-bottom: 40%;
  }

  #works .main-card {
    height: 135%;
  }
