@charset "UTF-8";
@import url("../css/icon.css");
@import url("../remodal/remodal.css");
@import url("../remodal/remodal-default-theme.css");
@import url("../remodal/style.css");

/* ///////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////// */

html, body {
    height: 100%;
    margin: 0;
    line-height: 1.7em;
    width: 100%;
}

li {
    list-style: none;
}

.PC {
    display: none;
}

.SP {}


/*
		ヘッダー
					*/

#header {
    height: 10vh;
    margin: 0 auto;
    line-height: normal;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

#header .Left {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    position: relative;
}

#head_mcsLogo {
    margin-top: 1vh;
    width: auto;
    height: 8vh;
}

.menu {
    width: auto;
    height: 7vh;
    position: absolute;
    right: 6%;
    bottom: 12%;
}


/*
		 中身
					*/


/*アスペクト比を維持しながらレスポンシブにしたい要素用
	iframeの入れ物に対して、
		class="flexIframe"
		と、それ以外の識別子を付与
	それ以外の識別子のCSSに
		width:"ほしい幅";
		padding-top:"width*横の比率/縦の比率"
	を設定
	(ここでは、アスペクト比が、"横の比率:縦の比率"で表されているとする)
	すると、レスポンシブになる。
	※注意※iframeの埋め込みデータの中にwidthとheightの設定が書き込まれている場合があるので、それは削除しておくこと
	適時、margin等を設定するとよいかと。
*/

.flexIframe {
    position: relative;
}

.flexIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
	線で囲んだタイトル用のCSS
		class="lineBox"の要素のdivの中に、タイトル文字を記入したdivを入れる
		タイトル文字の記入されたdivにidかclassを付与
		文字の太さやパディング、マージンの微調整
*/


/*
	線で囲んだタイトル用のCSS
		class="lineBox"の要素のdivの中に、タイトル文字を記入したdivを入れる
		タイトル文字の記入されたdivにidかclassを付与
		文字の太さやパディング、マージンの微調整
*/

.lineBox {
    text-align: center;
    margin: 0 auto;
}

.lineBox div {
    color: #000;
    text-align: center;
    display: inline-block;
}

.lineBox .topTitleWrap {
    border: solid 0.25em #000000;
    background-color: rgba(255, 255, 255, 0.5);
}

.lineBox .subTitle {
    border: solid 0.25em #000000;
    background-color: rgba(255, 255, 255, 0.5);
}

.subTitle {
    margin: 2em auto;
    padding: 0.5em 1.5em;
}

.topTitleWrap {
    padding: 1em 1em;
    display: inline-block;
}

.topTitle {
    width: 6em;
    font-size: 1.4em;
    font-weight: 600;
    border-bottom: solid 0.2em #000000;
}

.date {
    font-size: 0.8em;
    color: #000;
    text-align: left;
}

.page_top {
    display: none;
}


/*
		 TOP画
					*/

.topImg {
    width: 100%;
    background-size: cover;
    padding: 9% 0;
    text-align: center;
}

#topImg_about {
    background-image: url(../img/about_top_smart.jpg);
}

#topImg_works {
    background-image: url(../img/works_top_smart.jpg);
}

#topImg_events {
    background-image: url(../img/works_top_smart.jpg);
}

#topImg_contents {
    background-image: url(../img/works_top_smart.jpg);
}

#topImg_pressrelease {
    background-image: url(../img/works_top_smart.jpg);
}

#topImg_recruit {
    background-image: url(../img/recruit-2017_smart.jpg);
}

#topImg_vs {
    background-image: url(../img/vs_top.jpg);
}

#topImg_fresh2016 {
    background-image: url(../img/fresh2016.jpg);
    max-width: 100%;
}

#topImg_links {
    background-image: url(../img/links_top_smart.jpg);
}


/*
	　ハンバーガー
					*/

#hamMenu {
    position: relative;
    z-index: 2;
    width: 100%;
    display: none;
    margin-bottom: -2em;
}

nav ul {
    margin: 0;
    padding: 0;
}

ul.menu_sec li {
    background-color: #D8D8D8;
    border-bottom: #727272 solid 1px;
    line-height: 3em;
    text-align: center;
    /*head+foot=10vh+18vh=28vh*/
    /*(100vh-28vh)/9=72/9*/
    height: 8vh;
}

ul.menu_sec a {
    display: block;
    text-decoration: none;
    color: #000;
    position: relative;
    font-weight: 800;
}

ul.menu_subsec li {
    background-color: #969696;
    border-bottom: #C7C7C7 solid 1px;
}

ul.menu_subsec a {
    color: #fff;
}

img.menu_SNS {
    height: 2em;
    width: auto;
}

a.menu_SNS {
    display: inline-block;
    padding: 2em 0.4em 2em 0.4em;
}

ul.menu_sec li a::after {
    content: "\e900";
    font-family: "icomoon", sans-serif;
    padding: 0em 1em;
    padding: 0rem 1rem;
}

.menu_overlay {
    position: fixed;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
    display: none;
}


/*
	　 Topページ
					*/

#top_firstView {
    height: 100vh;
}

.top_topWrap {
    height: 92vh;
    background-image: url(../img/top_top_smart.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
    display: table;
    width: 100%;
}

.top_topMCSWrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.top_topName {
    padding: 0.3em 1em;
    width: 11.5em;
    color: black;
    border: 0.15em solid black;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
}

.top_topKansai {
    font-size: 1em;
    width: 90%;
    border-bottom: 0.15em solid black;
    margin: 0.5em auto;
}

.top_topMCS {
    font-size: 2.3em;
    margin: 0.1em auto;
    padding-bottom: 0.3em;
}

a#top_scroll {
    padding-top: 60px;
    position: absolute;
    top: 85vh;
    left: calc(50% - 24px);
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    color: #fff;
}

a#top_scroll span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

#top_topUnder {
    position: absolute;
    top: 87vh;
    height: 15vh;
    width: 100%;
    background-image: url(../img/top_topUnder.png);
    background-size: contain;
    z-index: 2;
}


/*
	　 Topページ内容
						*/

.try {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 0 0 2em;
    border-color: transparent transparent transparent #007bff;
}

.top_wrap {
    padding: 0;
    /*margin:*/
    margin-top: 30px;
    position: relative;
    z-index: 1;
    /*z-indexを動作させるには、static以外のpositionの設定が必要*/
}

#SNSWrap {
    display: none;
}

.top_object1 {
    margin: 5vh auto;
    position: relative;
    z-index: 2;
    width: 90%;
}

.top_nameWrap {
    border-bottom: 0.2em solid black;
    display: inline-block;
    vertical-align: bottom;
}

.top_nameWrapLeft {
    text-align: left;
    width: 90%;
    font-size: 0;
    /*inline-block間の隙間を埋める*/
    margin: 0 auto;
    margin-bottom: -1.2%;
}

.top_nameWrapRight {
    text-align: right;
    width: 90%;
    font-size: 0;
    /*inline-block間の隙間を埋める*/
    margin: 0 auto;
    margin-bottom: -1.2%;
}


/*idごとに矢印の長さを調節*/

#top_nameWrapNow {
    font-size: 25px;
    width: 55%;
    text-align: left;
}

#top_nameWrapNews {
    font-size: 25px;
    width: 70%;
    text-align: right;
}

.top_name {
    text-align: center;
    color: black;
    margin: 0;
    border-top: 0.2em solid black;
    border-left: 0.2em solid black;
    border-right: 0.2em solid black;
    padding: 0.2em;
    display: inline-block;
}

#top_nameNow {
    width: 65px;
}

#top_nameNews {
    width: 90px;
}

.top_tryRight {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: bottom;
    border-style: solid;
    border-width: 15px 0 0 30px;
    border-color: transparent transparent transparent #000000;
}

.top_tryLeft {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: bottom;
    border-style: solid;
    border-width: 0 0 15px 30px;
    border-color: transparent transparent #000000 transparent;
}

.top_Contents {
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 4% 0 3% 0;
}

#top_nowContens {
    background-color: #ffa996;
    padding: 4% 0 3% 0;
    text-align: center;
}

#top_nowContens img {
    width: 90%;
    height: auto;
}

#top_newsContens {
    background-color: #FFCC66;
    padding: 4% 0 3% 0;
    text-align: letf;
}


/*NEWSボックス*/

#top_newsBox {
    overflow: auto;
    width: 90%;
    height: 6em;
    padding: 5px;
    border: 2px solid #606060;
    color: #000000;
    background-color: #ffffff;
    line-height: 1.5em;
    font-size: 1em;
    margin: 0 auto;
}

#top_newsBox a {
    color: #000000;
    text-decoration: none;
}

#top_newsBox a:hover {
    text-decoration: underline;
}


/*

	   	ABOUT
							*/

#about {
    pading: 0;
    padding-left: 0;
    margin: 5em auto;
    width: 100%;
}

.about h1 {
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    margin: 2em 0;
    margin-top: 5em;
    width: 100%;
    position: relative;
    z-index: 2;
}

.about h1 span {
    display: inline-block;
    padding: 0.2em 0.1em;
    margin: 0 0.5em;
    border: 0.1em solid #000;
}

.about h1.left::after {
    content: "";
    display: inline-block;
    background-image: url(../img/bar.png);
    background-size: contain;
    height: 10px;
    margin: 0 1em;
    width: 50vw;
    width: calc(90vw - 11em);
}

.about h1.right::before {
    content: "";
    display: inline-block;
    background-image: url(../img/bar.png);
    background-size: contain;
    height: 10px;
    margin: 0 1em;
    width: 50vw;
    width: calc(90vw - 11em);
}

p.about {
    width: 70%;
    margin: 0 auto;
}

#about_movieMCS {
    width: 68%;
    padding-top: 38.25%;
    /*0.5625*width%*/
    margin: 2em auto;
}

#about_emvTop {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

#about_emvMap {
    position: relative;
    width: 70%;
    padding: 30% 0 0 0;
    display: inline-block;
    vertical-align: middle;
}

#about_emvP {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    text-align: left;
    padding-left: 2%;
}

#about_medican3Wrap {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#about_medican3P {
    width: 80%;
    text-align: left;
    margin-left: 15%;
}

.about_medican3Img {
    vertical-align: middle;
    width: 50%;
    height: auto;
    margin-left: 25%;
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.about_medican3Img:hover {
    -webkit-transform: rotate(13deg) scale(1.2);
    transform: rotate(13deg) scale(1.2);
}


/*
		Works
			 	  */

#works {
    margin: 0 auto;
    margin-top: 1.5%;
    margin-bottom: -2em;
    width: 100%;
}

.works_btnWrap {
    margin: 0 auto;
    font-size: 0;
}

.works_sBtn {
    width: 20%;
    height: auto;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 1.5%;
}

.works_sBtnL {
    padding-right: 1%;
}

.works_sBtnR {
    padding-left: 1%;
}

.works_lBtn {
    width: 79%;
    height: auto;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 1.5%;
}

.works_btnLong:hover {
    background-image: url("img/long-on.png");
    background-size: contain;
}


/*
　 共通バックボタン
				 	*/

#bkBtn {
    width: 8em;
    margin: 3em 0 3em 15%;
    height: 2em;
}

#bkBtn a {
    color: #000;
    text-decoration: none;
    font-size: 1em;
    line-height: 2em;
}

.bkAnime {
    color: #000;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}

.bkAnime:hover {
    left: -2px;
}

.bkAnime:active {
    left: -6px;
}

#bkBtn p {
    vertical-align: top;
}

#bkBtn p::before {
    content: "\e905";
    font-family: "icomoon", sans-serif;
    vertical-align: top;
    padding: 0 2em 0 1em;
}

#events_bk {
    background-color: #FF9B91;
    box-shadow: -6px 0 #ab3c3c;
}

#events_bk:hover {
    box-shadow: -4px 0 #ab3c3c;
}

#events_bk:active {
    box-shadow: 0px 0 #ab3c3c;
}

#contents_bk {
    background-color: #78FF6D;
    box-shadow: -6px 0 #2D9B00;
}

#contents_bk:hover {
    box-shadow: -4px 0 #2D9B00;
}

#contents_bk:active {
    box-shadow: 0px 0 #2D9B00;
}

#pressrelease_bk {
    background-color: #FFFA85;
    box-shadow: -6px 0 #FFC600;
}

#pressrelease_bk:hover {
    box-shadow: -4px 0 #FFC600;
}

#pressrelease_bk:active {
    box-shadow: 0px 0 #FFC600;
}

#recruit_bk {
    background-color: #bbf9ff;
    box-shadow: -6px 0 #5eabb2;
}

#recruit_bk:hover {
    box-shadow: -4px 0 #5eabb2;
}

#recruit_bk:active {
    box-shadow: 0px 0 #5eabb2;
}


/*
	  EVENTS
		 			*/

.events_dataBox {
    margin: 3em auto;
    text-align: center;
}

.events_img {
    width: 80%;
    height: auto;
}

.events_imgPC {
    display: none;
}

.events_imgSP {
    text-align: center;
}

.events_txtBox {
    text-align: left;
    position: relative;
    left: 10%;
    line-height: 1.5em;
    width: 80%;
}

.events_date {
    font-size: 0.9em;
    padding: 0.2em 0;
}

.events_name {
    font-size: 1.8em;
    font-weight: 800;
    padding: 0.4em 0.3em;
    line-height: 1.0em;
}

.events_name a {
    text-decoration: none;
    color: #000;
}

.events_p {
    width: 100%;
}

.events_line {
    width: 77%;
    height: 0.1em;
    margin: 2em auto;
    background-color: #000;
}
.freshWrap{
    text-align: center;
    margin: 5%;
}
.fresh {
  width: 70vw;
  height: calc(70vw * 0.5625);
}


/*

	  CONTENTS
					*/

.contents section {
    margin: 4em 0 2em 0;
}

.contents a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
}

#hotContents a:hover h1, .contents_filmTextWrap a:hover {
    text-decoration: underline;
}


/*#contents_hotContents {
    font-weight: 800;
    font-size: 1.2em;
    margin: 3em auto;
}*/

.hotWrap {
    text-align: center;
}

.hotWrap article {
    display: inline-block;
    text-align: left;
    width: 80%;
    margin: 1rem 0.5rem;
    vertical-align: top;
}

.hotBlock {
    margin: 0 .5rem;
}

.hotMovie {
    width: 100%;
    padding-top: 56.25%;
    /*0.5625*width%*/
    margin: 1em auto;
}

.hotBlock h1 {
    font-size: 1.3rem;
    font-weight: 600;
    -webkit-margin-before: 0.5rem;
    -webkit-margin-after: 0.2rem;
}

.hotBlock p {
    font-size: 1rem;
    font-weight: 300;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

#originalItem {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

article.original {
    display: inline-block;
    width: 47%;
    margin:0.1rem;
}

article.original a {
    color: white;
    text-decoration: none;
    border: none !important;
}

#originalItem figure {
    width: 100%;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

#originalItem figure img {
    width: 100%;
    vertical-align: bottom;
    opacity: 1;
    transition: .3s;
}

#originalItem figure.addedFig img {
    transition: .3s;
    opacity: 0.6;
    filter: blur(2px);
}

#originalItem figcaption {
    opacity: 0;
    transition: .3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    /*height :100%;*/
}

#originalItem h1, #originalItem p {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

#originalItem figure.addedFig figcaption {
    opacity: 1;
    transition: .3s;
}

#originalItem figcaption h1 {
    padding: 0 .5rem;
    font-size: 1rem;
    display: block;
}

#originalItem figcaption p {
    padding: 0 .5rem;
    font-size: .8rem;
    display: block;
}

#shortFilm article {
    margin: 0 auto;
    width: 85%;
}

.addedFig figcaption {
    opacity: 1;
}

#shortFilm article {
    margin: 0 auto;
    width: 85%;
}

.filmMovie {
    display: inline-block;
    width: 90%;
    padding-top: 50.625%;
    /*0.5625*width%*/
    margin: 1em auto;
    vertical-align: middle;
}

#shortFilm a {
    display: inline-block;
    width: 100%;
    width: calc(100% - 2em);
    margin-left: 1em;
    vertical-align: middle;
    text-align: left;
}

#shortFilm h1 {
    margin: 0.5rem 0;
    font-size: 1rem;
    text-decoration: underline;
}
#shortFilm article{
  text-align: center;
}

#shortFilm p {
    font-size: 1rem;
    font-weight: 400;
}

/*

 	 PressRelease
					*/

#press {
    width: 100%;
    margin-top: 2em;
}

time {
    font-size: 0.8em;
    color: #000;
    text-align: left;
}

#press a {
    color: black;
}

#press time:hover {
    text-decoration: underline;
}

#press article {
    width: 100%;
    margin: 0.5em 0;
    display: inline-block;
    border-bottom: 1px solid #B4B4B4;
}

#press>a:last-of-type article {
    border-bottom: none;
}

#press a article>div {
    padding: 0 1em;
    margin-bottom: 1em;
}

.pre_conImg {
    vertical-align: middle;
    background-size: cover;
    height: 100px;
    width: 33%;
    display: inline-block;
    overflow: hidden;
}

.pre_conImg img {
    height: 100%;
    width: auto;
    position: relative;
    ;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

#press article:hover img {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
}

.pre_conData {
    vertical-align: middle;
    display: inline-block;
    width: 60%;
    padding-left: 3%;
}

time.SP {}

#press h1 {
    font-size: 1em;
    font-weight: 800;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#press a article p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#press>article:nth-last-of-type(-n+2) {
    display: none;
}


/*
	PressRelease Index
						*/

.preIndex_conWrap {
    width: 80%;
    margin: 4em auto;
}

.preIndex_conDate {
    font-size: 0.9em;
}

.preIndex_mainImg img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.preIndex_mainTitle {
    line-height: 1.2em;
    font-size: 2em;
    font-weight: 800;
    margin: 0.5em 0;
}

.preIndex_mainText {}


/*
		Freshman_recoding
					*/

@media screen and (max-width: 768px) and (min-width: 480px) {
    iframe.twitter-tweet-rendered {
        width: 430px !important;
    }
}

@media screen and (max-width: 480px) {
    iframe.twitter-tweet-rendered {
        width: 255px !important;
    }
}

#fresh_Wrap {
    font-size: 1.2em;
    margin-top: 0.1em;
    text-align: center;
}

.fresh_Box_S {
    text-align: center;
    min-width: 320px;
    height: 12em;
    left: 20vw;
}

.fresh_Box_M {
    text-align: center;
    height: 37em;
    min-width: 320px;
    left: 20vw;
}

.fresh_Box_L {
    text-align: center;
    height: 85em;
    min-width: 320px;
    left: 20vw;
    margin-bottom: 0.25em;
}

.fresh_titleWrap {
    margin: 2em auto;
    margin-top: 2.5em;
    margin-bottom: 0.05em;
    text-align: center;
    width: 40%;
    position: relative;
    z-index: 2;
    font-size: 0.80em;
    font-weight: 500;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: #000000;
    padding-bottom: 0.25em;
}

.fresh_mainImg img {
    width: 60%;
    height: auto;
    margin-top: 1em;
}

.fresh_Text1 {
    display: inline-box;
    overflow: visible;
    text-align: left;
    height: 26em;
    /*line-heignt*行数*/
    width: 70%;
    font-size: 0.5em;
    position: relative;
    margin-top: 0.5em;
    left: 20vw;
}

.fresh_Text2 {
    display: inline-box;
    overflow: visible;
    text-align: left;
    height: 6em;
    /*line-heignt*行数*/
    width: 60%;
    font-size: 0.5em;
    position: relative;
    margin-top: 0.5em;
    left: 20vw;
}

.fresh_Text3 {
    display: inline-box;
    overflow: visible;
    text-align: left;
    height: 20em;
    /*line-heignt*行数*/
    width: 60%;
    font-size: 0.5em;
    position: relative;
    margin-top: 0.5em;
    left: 20vw;
}

.fresh_contents {
    text-align: left;
}

.fresh_twiBox {
    display: inline-box;
    text-align: center;
    margin: 0, auto;
}

.fresh_twitter {
    border-radius: 10px;
    background-color: #34A0F4;
    min-width: 100%;
    height: 50%;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin: 0, auto;
}


/*
	    Recruit
					*/

.recruitWrap {
    text-align: center;
    width: 100%;
    height: 100%;
}

.recruitTitleWrap {
    text-align: center;
    width: 20%;
    min-width: 100px;
    font-size: 1.0em;
    margin-bottom: 10px;
    margin-left: 5vw;
    border-bottom: solid;
    border-width: 3px;
    font-weight: 600;
}

.recruitTitleWrap_L {
    text-align: left;
    width: 75%;
    max-width: 240px;
    font-size: 1.0em;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5vw;
    border-bottom: solid;
    border-width: 3px;
    font-weight: 600;
}

.recruitTitle {
    text-align: left;
}

.recruitBox {
    text-align: center;
    width: 100%;
    height: 10%;
}

#RB1 {
    background-color: #F56262;
}

#RB2 {
    background-color: #1E9CBB;
}

#RB3 {
    background-color: #FFCC00;
}

.RBtitle {
    color: #ffffff;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    font-weight: 500;
    max-height: 60%;
}

.RBtxt {
    color: #000000;
    font-size: 0.6em;
    text-align: left;
    overflow: visible;
    padding-left: 15%;
    max-width: 70%;
}

.RBbtn {
    display: inline-block;
    width: 40%;
    padding: 10px 15px;
    background-color: #BB1E1E;
    color: #ffffff;
    font-size: 0.5em;
    border: solid;
    border-color: #910303;
    border-radius: 10px;
    margin-bottom: 30px;
    text-decoration: none;
}

.RBbtn:hover {
    color: #BB1E1E;
    background-color: #ffffff;
}

.Rschedule {
    display: inline-block;
    width: 85%;
    height: 60%;
    text-align: center;
    background-color: #FCFAF2;
    color: #ffffff;
    font-size: 2.0em;
    overflow: visible;
    border: solid;
    margin-top: 30px;
}

.scheduleWrap {
    text-align: center;
}

input {
    display: none;
}

/*label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 0.5em;
    border: solid;
    border-color: #910303;
    border-radius: 10px;
    background-color: #BB1E1E;
    color: #FFFFFF;
    margin-bottom: 30px;
}

label:hover {
    color: #BB1E1E;
    background-color: #ffffff;
}
*/
#changer {
    width: 40%;
    padding: 10px 15px;
    font-size: 0.5em;
    border: 3px solid #910303;
    border-radius: 10px;
    background-color: #bb1e1e;
    color: #ffffff;
    margin-bottom: 30px;
}

#hover:hover {
    background-color: #ffffff;
    color: #bb1e1e;
}

.panel {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    height: 0;
    overflow: hidden;
    background: #FFCC00;
    padding: 0;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

input:checked+.panel {
    height: auto;
    padding-bottom: 20px;
}

.leader_photo {
    display: none;
}

#leader_message {
    display: none;
}

.leader_photo_smart {
    display: inline-block;
    text-align: center;
    width: 60%;
    border: 6px solid #ff6600;
    border-radius: 15px;
}

#leader_message_smart {
    display: inline-block;
    text-align: left;
    width: 90%;
    max-width: 80%;
    background-color: #ffffff;
    font-weight: 600;
    padding: 10px;
    border: 4px solid #ff6600;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recruit_td {
    display: none;
}

#adjust-mgn {
    margin-bottom: 0;
}

#adjust-mgn2 {
    margin-bottom: 10%;
}

#adjust-mgn3 {
    margin-top: 10%;
}

#FAQ {
    text-align: left;
}

.QandA {
    text-align: left;
    width: 100%;
}

.Questions {
    text-align: left;
    font-size: 0.8em;
    font-weight: 800;
    margin-left: 15%;
    width: 100%;
    max-width: 70%;
    text-align: left;
}

.Answers {
    text-align: left;
    font-size: 0.8em;
    font-weight: 500;
    margin-left: 20%;
    max-width: 65%;
    overflow: visible;
}

.Questions span {
    font-size: 1.3em;
    padding-right: 0.3em;
}

.Answers span {
    font-size: 1.3em;
    padding-right: 0.3em;
}


/*旧recruit*/

.recruit_QandA {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.recruit_Question {
    padding-left: 1em;
    font-size: 1.3em;
    font-weight: 800;
}

.recruit_Answer {
    padding-left: 2em;
    margin: 0 auto;
}

.recruit_rateText {
    /*width:50%;
	display:inline-block;*/
}

#recruit_graph {
    margin: 0 auto;
    width: 370.5px;
    padding-top: 371px;
    margin-bottom: -150px;
    margin-left: -50px;
    /*	width: 35%;
	padding-top: 30%;
	display:inline-block;*/
}

#recruit_sec01 {
    width: 30%;
}

#recruit_sec02 {
    width: 30%;
}

#recruit_sec03 {
    width: 40%;
}

#recruit_sec04 {
    width: 30%;
}

#recruit_modal1 {
    background-image: url(../img/modal/leaders1.jpg);
}

#recruit_modal1:hover {
    background-image: url(../img/modal/leaders1.jpg);
    /**/
}

#recruit_modal2 {
    background-image: url(../img/modal/leaders2.jpg);
}

#recruit_modal2:hover {
    background-image: url(../img/modal/leaders2.jpg);
    /**/
}

#recruit_modal3 {
    background-image: url(../img/modal/leaders3.jpg);
}

#recruit_modal3:hover {
    background-image: url(../img/modal/leaders3.jpg);
    /**/
}

#recruit_modal4 {
    background-image: url(../img/modal/leaders4.jpg);
}

#recruit_modal4:hover {
    background-image: url(../img/modal/leaders4.jpg);
    /**/
}

#recruit_modal5 {
    background-image: url(../img/modal/leaders5.jpg);
}

#recruit_modal5:hover {
    background-image: url(../img/modal/leaders5.jpg);
    /**/
}

#recruit_modal6 {
    background-image: url(../img/modal/leaders6.jpg);
}

#recruit_modal6:hover {
    background-image: url(../img/modal/leaders6.jpg);
    /**/
}

#recruit_modal7 {
    background-image: url(../img/modal/leaders7.jpg);
}

#recruit_modal7:hover {
    background-image: url(../img/modal/leaders7.jpg);
    /**/
}

#recruit_modal8 {
    background-image: url(../img/modal/leaders8.jpg);
}

#recruit_modal8:hover {
    background-image: url(../img/modal/leaders8.jpg);
    /**/
}

.recruit_modalContent {
    position: fixed;
    z-index: 4;
    width: 80%;
    height: 90vh;
    border: 2px solid #aaa;
    background: #fff;
    left: 0;
    margin-top: 1%;
    display: none;
    overflow: auto;
    text-align: center;
}

.recruit_modalContent img {
    padding-top: 1em;
    width: 50%;
    height: auto;
}

.recruit_modalTitle {
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    line-height: 2em;
    font-size: 1.3em;
    font-weight: 800;
    width: 11em;
    text-align: left;
}

.recruit_modalTitle span {
    font-size: 1.6em;
    padding-left: 1em;
}

.recruit_modalText {
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em auto 2em auto;
    width: 80%;
    text-align: left;
}

#recruit_schedule {
    width: 80%;
    padding-top: 55%;
    margin: 2em auto;
}

/*
    学内放送
*/
.gakunaitWrap {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 2em 0;
}
.gakunaiTitleWrap {
    text-align: center;
    width: 130px;
    font-size: 1.0em;
    margin-bottom: 10px;
    margin-left: 5vw;
    border-bottom: solid;
    border-width: 3px;
    font-weight: 600;
	margin-top: 40px;
}
.theme-container{
    width: 100%;
    margin: 0;
}
.theme-container label{
    font-family: 'Hind Siliguri', sans-serif;
	letter-spacing: 0.05rem;
    padding: 2px 20px 2px;
	margin: 0;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #fff;
	background-color: #000;
    line-height: 33px;
    font-size: 1.0rem;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.theme-container label:hover{
	color: #fff!important;
	background-color: #000;
}
.theme-container input:checked + label:hover{
    background: #000;
    color: #fff !important;
}
.theme-container input:check + label:hover{
    background: #000;
    color: #fff !important;
}
.theme-container label:after{
	content: "\f0d7";
	font-family: FontAwesome;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0px;
    top: 0px;
}
.theme-container input:checked + label:after{
    content: "\f0d8";
	font-family: FontAwesome;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0px;
    top: 0px;
}
.theme-container input:checked + label:hover:after{
    content: "\f0d8";;
	font-family: FontAwesome;
	color: #fff;
	background-color: #000;
}
.theme-container input{
    display: none;
}
.theme-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition:
        height 0.3s ease-in-out,
        box-shadow 0.6s linear;
}
.theme-container input:checked ~ article{
    transition:
        height 0.5s ease-in-out,
        box-shadow 0.1s linear;
}
.theme-container article p{
    font-style: italic;
    color: #000;
	font-weight: 700;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
}
.theme-container input:checked ~ article.theme-small{
    height: 600px;
}
.theme-container input:checked ~ article.theme-2017s{
    height: 100%;
}
.theme-container input:checked ~ article.theme-2016a{
    height: 100%;
}
.theme-container input:checked ~ article.theme-medium{
    height: 180px;
}
.theme-container input:checked ~ article.theme-large{
    height: 230px;
}
article.theme-2017s{
	background-color: #EBDA00;
}
article.theme-2016a{
	background-color: #4082FF;
	color: #000;
}
.mini_videoWrap{
	width: 100%;
	max-height: 10rem;
	text-align: center;
	display: inline-block;
	
}
.mini_video{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}
.mini_video iframe{
    position: absolute;
  	top: 0;
  	right: 0;
  	width: 100% !important;
  	height: 100% !important;
	margin: 0;
}
.mini_videoTitle{
	height: 3rem;
	font-style: normal!important;
	font-weight: 900!important;
	margin: 0;
	font-size: 1.0rem!important;
	overflow: hidden;
	
}
.youtubeImgWrap{
	width: 40%;
	margin-left: 4.8%;
	margin-right: 4.8%;
	text-align: center;
	display: inline-block;
}
.youtubeImg{
	position: absolute;
  	top: 0;
  	right: 0;
  	width: 100%;
  	height: 100%;
	margin: 0;
}
.youtubeImg::before{
	content: "click!";
	display: inline-block;
	color:#000;
}
.mini_video:hover{
	background-color: #000;	
}
/*
		VSコン物

					*/

#vsMovie {
    width: 85%;
    margin: 0 auto;
}

.vsName {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    font-weight: 800;
}

#vsIframe {
    width: 85%;
    height: 1100px;
    /*height:100vh;*/
    zoom: 0.2;
}

#vsIframeWrap {
    text-align: center;
}


/*
		FreePaper
					*/

.frpWrap {
    text-align: center;
}

.frpYear_PC {
    display: none;
}

.frpYear_phone {
    padding-top: 0.1vh;
    padding-bottom: 0.9vh;
    display: inline-block;
    border-color: #000000;
    border-style: solid;
    font-size: 1.2em;
    font-weight: 600;
    width: 10vh;
    height: 2.5vh;
    margin: 2vh;
}

.frpBox_PC {
    display: none;
}

.frpBox_phone {
    display: inline-block;
    width: 85%;
    height: 20vh;
    background-color: #F5F5F5;
    border-style: solid;
    border-color: #DCDCDC;
    border-radius: 10px;
    margin: 2vh;
    text-align: center;
}

.frpTitle_PC {
    display: none;
}

.frpTitle_phone {
    margin: 0.25vh;
    font-size: 1em;
    font-weight: 600;
    text-decoration: underline;
}

#frpIframe {
    display: none;
    width: 85%;
    height: 1100px;
    /*height:100vh;*/
}


/*
		LINKS
					*/

.links_blockWrap {
    margin-bottom: 3em;
}

.links_linkBox {
    margin: 0.5em auto;
    text-align: center;
}

.links_banner {
    width: 80%;
    height: auto;
}

.links_txt {
    width: 80%;
    text-align: center;
    margin: 0 auto 2em auto;
}

.links_title {
    width: 100%;
    font-size: 1.2em;
}

#project_kaisers1 {
    position: relative;
    display: inline-block;
    z-index: 2;
    background-color: #FF0000;
    border: 2px solid #FF0000;
    color: #fff;
    line-height: 120%;
    text-decoration: none;
    border-radius: 5px;
    margin: 3em, auto;
    padding: 5px, 5px;
}

#project_kaisers1:hover {
    background-color: #fff;
    border-color: #FF0000;
    color: #FF0000;
}

#project_kaisers1::before, #project_kaisers1::after {
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #FF0000;
}

#project_kaisers1::before {
    right: 0;
}

#project_kaisers1::after {
    left: 0;
}

#project_kaisers1:hover::before, #project_kaisers1:hover::after {
    width: 0;
    background-color: #59b1eb;
}

#project_kaisers2 {
    position: relative;
    display: inline-block;
    z-index: 2;
    background-color: #00008B;
    border: 2px solid #00008B;
    color: #fff;
    line-height: 120%;
    text-decoration: none;
    border-radius: 5px;
    margin: 3em, auto;
    padding: 5px, 5px;
}

#project_kaisers2:hover {
    background-color: #fff;
    border-color: #00008B;
    color: #00008B;
}

#project_kaisers2::before, #project_kaisers2::after {
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #00008B;
}

#project_kaisers2::before {
    right: 0;
}

#project_kaisers2::after {
    left: 0;
}

#project_kaisers2:hover::before, #project_kaisers2:hover::after {
    width: 0;
    background-color: #59b1eb;
}

#project_kawazoe1 {
    position: relative;
    display: inline-block;
    z-index: 2;
    background-color: #FF8C00;
    border: 2px solid #FF8C00;
    color: #fff;
    line-height: 120%;
    text-decoration: none;
    border-radius: 5px;
    margin: 3em, auto;
    padding: 5px, 5px;
}

#project_kawazoe1:hover {
    background-color: #fff;
    border-color: #FFA500;
    color: #FF7F50;
}

#project_kawazoe1::before, #project_kawazoe1::after {
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #FF8C00;
}

#project_kawazoe1::before {
    right: 0;
}

#project_kawazoe1::after {
    left: 0;
}

#project_kawazoe1:hover::before, #project_kawazoe1:hover::after {
    width: 0;
    background-color: #59b1eb;
}

#project_hanikkoto1 {
    position: relative;
    display: inline-block;
    z-index: 2;
    background-color: #FF0000;
    border: 2px solid #FF0000;
    color: #fff;
    line-height: 120%;
    text-decoration: none;
    border-radius: 5px;
    margin: 3em, auto;
    padding: 5px, 5px;
}

#project_hanikkoto1:hover {
    background-color: #fff;
    border-color: #FF0000;
    color: #FF0000;
}

#project_hanikkoto1::before, #project_hanikkoto1::after {
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #FF0000;
}

#project_hanikkoto1::before {
    right: 0;
}

#project_hanikkoto1::after {
    left: 0;
}

#project_hanikkoto1:hover::before, #project_hanikkoto1:hover::after {
    width: 0;
    background-color: #59b1eb;
}


/*
		フッター
					*/

#footer {
    background-color: #000000;
    color: #ffffff;
    height: 18vh;
    padding: 0.1em 0;
    text-align: center;
    position: relative;
    z-index: 3;
    margin-top: 2em;
}

#SPfooter {
    position: relative;
    margin-bottom: -3%;
}

#SPfooter>a {
    text-decoration: none;
    color: #fff;
}

#SPfooter div {
    position: absolute;
    right: 4%;
    top: 1%;
}


/**
		 フォーム
						**/

.mailForm {
    position: relative;
    top: 1em;
    text-decoration: underline;
    color: #fff;
}

.mailForm:hover {
    font-weight: 800;
}

.footer_form {
    display: none;
}


/* CSS Document */
