/*load*/
p{
  text-align: center;
  font-size: 10px;
}
 /*main*/
body{
  background-color:#F9ECE2;
  background-image: url("20.png");
	background-repeat: no-repeat;
	background-position: center top;
  background-size: contain;
  margin: 0;
}
.black{
  margin-left: 150px;
  margin-right: 150px;
  background: black;
  color: white;
}
.black2{

  margin-left: 50px;
  margin-right: 50px;
  background: black;
  color: white;
}
.gray{
  background:rgba(125,125, 125, 0.3);
  padding-bottom: 20px;
}
h1{
  font-family:monospace;
  font-size: 14px;
  text-align: center;
}
h2{
  font-size: 17px;
  text-align: center;
}
h3{
  text-align: center;
  font-size: 13px;
}
.time{
  background-color: #FFd090;
  border-radius:10px;
  margin: 0px  80px;
}
.TYPE01{
  margin-right: 30%;
}
.TYPE02{
  margin-top: 10%;
  margin-left: 30%;
}
tr,td{
  border: 0.5px #ffffff solid;
}
table{
  border-collapse: collapse;
  border: 0.5px #ffffff solid;
  text-align: center;
  color: white;
  background-color: #ff9090;
  border-radius:10pt;
}

.top ul {
list-style: none; /* 先頭記号を消す */
position:absolute;
top: 0;
right:0%;
overflow: hidden;
margin-top: 0%;
padding:0%;
}
.top ul li {
float: left; /* リスト項目を横方向に並べる */
border-right: 1px solid #DDD;
}
.top ul a {
background-color:inherit;/* 背景色 */
color: black; /* 文字色 */
display: block; /* ブロックレベルに */
text-align: center; /* 文字を中央合わせに */
padding: 5px 10px; /* 内部の余白 */
text-decoration: none; /* 下線を消す */
outline: none; /* 選択時の点線枠線を消す */
}
.top ul li a span {
    display: block;
    font-size: 10px;
    color: #333;

}
.top ul a:hover{/* マウスカーソルが乗っている状態 */
background-color: white; /* 背景色 */
color: #000; /* 文字色 */
}
.top ul a:active,span:active{/* マウスがクリックされている状態 */
background-color: white; /* 背景色 */
color: red; /* 文字色 */
}
