.top img{
  width: 100%;
  height: auto;
  }
  p{
  font-size: 1.4rem;
  white-space:pre-line;
  width: 25px;
}
h3{
  font-size: 1.5rem;
  text-align: center;
  padding:0 0 0 5%;
}
.header-sentense{
  font-size: 10rem;
}
.contents-wrapper{
  margin: 2rem  0 0 5rem;
  padding-bottom: 5rem;
}
.contents-wrapper img{
width: 45%;
              }
.section{
margin: 2rem 0.5rem 0 0;
}
#qa .container{
  margin: 5rem 0 0 0;
}

 #comment::before{
  background-size:  1440px ;
  min-height: 10vh;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: cover;

}
#comment::after{
 background: url("../img/triangle_2.svg");
 background-size: 1440px ;
 min-height: 10vh;
 height: 100%;
 background-repeat: no-repeat;

}
/* #comment::before{
  background: url("../img/triangle-ander1.svg");
  background-size: 1440px;
  min-height: 1000px;
  background-repeat: no-repeat;

}
#comment::after{
  display: none;
} */

 #how-to::after{
  background: url("../img/square_2.svg");
  background-size:  100% auto;
  /* min-height: 100%; */
  /* background-position: center; */
  /* object-fit: cover; */
  height: 100%;
  top: calc(25% + 0.5rem);
  right: 0;
  background-repeat: no-repeat;

 }
#how-to::before{
  background: url("../img/square_1.svg");
  background-size: 100% auto;
  /* background-position: center; */
  /* min-height: 100%; */
  /* object-fit: cover; */
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
}
#detail::before{
  background: url("../img/parallelogram_1.svg");
  background-size: 1280px 995px;
  min-height: 155555px;
}
#detail::after{
  background: url("../img/parallelogram_2.svg");
  background-size: 1280px 995px;
  min-height: 1440px;
  right: 1rem;

}
.section #detail{
  width: 1440px

}
#details .contents-wrapper p{
  margin: 0 0 2rem 25rem;
}
/* .contents-wrapperQA{
  width: 80%;
  text-align: center;

 }

 .qa-container{
  display: inline-block;
  text-align: justify;
 } */

 Q＆A中央
 /*.contents-wrapperQA dl{
  text-align: center;
 }

 .qa-container dt,dd{
   display: inline;
   text-align: left;
  /* }  */
 /* .qa-container{
   margin:1rem;
   text-align: center;
   display: block;
 } */
 .contents-wrapper-QA{
   margin: 1.6rem auto;
   text-align: center;
   display: block;
 }
 .contents-wrapper-QA .qa-container{
   text-align: left;
   display: inline-block;
 }
 .link_btn {
  margin: 0 0 0 20rem;
  display: block;
  width: 8rem;
  /* position: rela; */
  text-decoration: none;/*下線消す*/
  background: silver;/*背景を水色に*/
  color: white;/*文字を白に */
  padding:0.5rem;/*内側の余白*/
  /*border-radius: 20px;角を丸くする*/
 /* font-family: 'Avenir','Arial';フォントをいい感じに*/
}
/*以下カーソルを当てたとき*/
.link_btn:hover {
  background: silver;/*背景色をシルバーに*/
  text-decoration: none;/*下線を消す*/
  color:white;

}

/*以下訪問済みのデザイン*/
.link_btn:visited {
  color: gray;/*文字をグレイに*/
}