.top img{
  width: 100%;
  height: auto;
  }
.container {
  max-width: 80rem;
}

.header-btns {
  display: flex;
  justify-content: center;
  /* Flexboxで検索！検索！！ */
   margin-bottom: 2rem;
}

.header-btn {
  width: 100%;
  margin: 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}



.header-nav {
  width: auto;
  height: 100%;
}

.contents-wrapper {
  position: relative;
  margin: 2rem 0;
  min-height: 15rem;

}

.contents-wrapper img {
  position: absolute;
  right: 0;
  height: auto;
  width: 20rem;
  z-index: 0;
}

.contents-wrapper img::before {
  content: " ";
  display: block;
  padding-top: 75%;
}
#how-to img{
    position: absolute;
    display: inline-block;
    position: right;
    vertical-align: center;
}
.contents-wrapper p {
  position: relative;
  display: block;
  word-break: break-all;
  margin: 0 5rem 0 0;
  z-index: 1;
  white-space: pre-line;
  width: 32rem;
}

#details .contents-wrapper img, #how-to .contents-wrapper img {
  top: 0;
  text-align: right;
  /* margin-right: 2rem; */
}
.link_btn {
  margin: 0 0 0 120px;
  display: block;
  width: 150px;
  /* position: rela; */
  text-decoration: none;/*下線消す*/
  background: silver;/*背景を水色に*/
  color: white;/*文字を白に */
  padding:0.5rem 0 0 0.2rem;/*内側の余白*/
  /*border-radius: 20px;角を丸くする*/
 /* font-family: 'Avenir','Arial';フォントをいい感じに*/
}
/*以下カーソルを当てたとき*/
.link_btn:hover {
  background: silver;/*背景色をシルバーに*/
  text-decoration: none;/*下線を消す*/
  color:white;

}

/*以下訪問済みのデザイン*/
.link_btn:visited {
  color: gray;/*文字をグレイに*/
}
.button a{
  font-size: 1rem;
  font-family: "Not o Serif", "Noto Serif JP", "Noto Serif CJK JP",
    "Times Npxpx Roman", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", 游明朝,
    "Yu Minc", YuMincho, HGS明朝E, serif;
}
#details .contents-wrapper img {
  left: 0;
  margin: 0;
}

#details .contents-wrapper h3, #details .contents-wrapper p {
  margin: 0 0 0 23rem;
}
#details .contents-wrapper p{
  margin: 0 0 2rem 23rem;
}
/* .qa-container{
  margin:1rem;
  text-align: center;
  display: block;
} */
.contents-wrapper-QA{
  margin: 1.6rem auto;
  text-align: center;
  display: block;
  display: flex;
}
.contents-wrapper-QA .qa-container{
  text-align: left;
  display: inline-block;
}
.qa-container{
  text-align: left;
  float: left;
}
.qa-container{
  text-align: right;
}
.contents-wrapper{
  margin: 2rem  0 0 5rem;
}