/*
  Global
*/
/* body {
  margin: 0;
  padding: 0;
}
.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: "2020_PV.mp4"no-repeat center center/cover;
}
.bg-video-wrap {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
} */
 /*.container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /*background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}*/

 .top img{
  width: 100%;
  height: auto;
  }
body {
  font-size: 62.5%; /* 1rem = 10px */
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Noto Sans JP",
    "Noto Sans CJK JP", "Helvetica Neue", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "Segoe UI", メイリオ, Meiryo, sans-serif;
  --gray: #4d4948;/*定義*/
  --purple: #44318f;
  --red: #d70034;
  --cyan: #008cb4;
  background: var(--gray);/*varで定義されたの出力*/
  overflow-x: hidden;/*x軸方向隠される初期値visible*/
  }




p, dt, dd {
  font-size: 1rem;
  font-family: "Not o Serif", "Noto Serif JP", "Noto Serif CJK JP",
    "Times Npxpx Roman", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", 游明朝,
    "Yu Minc", YuMincho, HGS明朝E, serif;
  letter-spacing: 0.1rem;
  line-height: 1.75;
}
.twitterblue {color: #00aced}
.youtubered {color: #c4302b}
.container {
  margin: 0 auto;/*上下左右*/
  width: 90vw;
}

/*ヘッダー*/
header {
  position: relative;
  z-index: 1;
}

.header-nav {
  background: black;
  padding: 1rem;
  position: relative;

}


.header-nav ul {
  margin: 0.5rem 0;
  display: flex;
}

.header-nav li {
  height: 3rem;
}

.header-nav li:first-child {

  margin-right: auto;
}

.header-nav img {
  height: 100%;
  width: auto;
}
/* ハンバーガーメニュー */
.ham {
  position: relative;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-color: var(--gray);
}

.ham_line {
  position: absolute;
  left: 1rem;
  width: 2rem;
  height: 0.1rem;
  background-color: black;
}

.ham_line1 {
  top: 1rem;
}
.ham_line2 {
  top: 1.8rem;
}
.ham_line3 {
  top: 2.6rem;
}


header::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 60vh;
  background:url("./img/topphoto.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.header-btns {
  /* margin-top: 10rem; */
}

.header-btn {
  margin: 2rem auto;

}
#how-to-btn {
  background: var(--purple);
}

#details-btn {
  background: var(--red);
}

#qa-btn {
  background: var(--cyan);

}

.header-btn a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
  display: block;
  padding: 2rem;
}

.header-btn a::hover {
  color: black;
  text-decoration: none;
}

.header-btn a::visited {
  color: black;
  text-decoration: none;
}

.header-sentence {
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  font-family: "Noto Serif", "Noto Serif JP", "Noto Serif CJK JP",
    "Times Npxpx Roman", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", 游明朝,
    "Yu Minc", YuMincho, HGS明朝E, serif;
  letter-spacing: 0.03rem;
  line-height: 1.75;
  /* position: relative;
  top: 10%; */
}

/*メイン*/

.section {
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
}

/* 背景 */
#comment::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 1rem;
  background: url("../img/triangle_1.svg");
  background-repeat: no-repeat;
  z-index: -2;
}

#comment::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 1.5rem;
  left: 0.5rem;
  background: url("../img/triangle_2.svg");
  background-repeat: no-repeat;
  z-index: -1;
}
#how-to::before {
  position: absolute;
  content: " ";
  width: 75%;
  height: 75%;
  right: 0.5rem;
  top: 25%;
  background: url("../img/square_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}
#how-to::after {
  position: absolute;
  content: " ";
  width: 75%;
  height: 75%;
  top: calc(25% + 0.5rem);
  right: 0;
  background: url("../img/square_2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.link_btn {
  margin: 0 auto;
  display: block;
  width: 100px;
  /* position: rela; */
  text-decoration: none;/*下線消す*/
  background: silver;/*背景を水色に*/
  color:white;/*文字を白に*/
  padding:2px;/*内側の余白*/
  /*border-radius: 20px;角を丸くする*/
 /* font-family: 'Avenir','Arial';フォントをいい感じに*/
}
/*以下カーソルを当てたとき*/
.link_btn:hover {
  background: silver;/*背景色をシルバーに*/
  text-decoration: none;/*下線を消す*/
  color:white;

}

/*以下訪問済みのデザイン*/
.link_btn:visited {
  color: gray;/*文字をグレイに*/
}
.button a{
  font-size: 0.8rem;
  font-family: "Not o Serif", "Noto Serif JP", "Noto Serif CJK JP",
    "Times Npxpx Roman", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", 游明朝,
    "Yu Minc", YuMincho, HGS明朝E, serif;
}
#details::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 97%;
  background: url("../img/parallelogram_1.svg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  z-index: -2;
}
#details::after {
  position: absolute;
  content: " ";
  top: 0.5rem;
  left: 0.5rem;
  width: 100%;
  height: 97%;
  background: url("../img/parallelogram_2.svg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  z-index: -1;
}


.contents-wrapper img {
  width: 90%;
  height: auto;
  display: block;
  margin: 1rem auto;

}

.contents-wrapper p {
  margin: 1rem 1.2rem;
}
.contents-wrapper h3 {
  width: 20rem;
  /* border-top: solid 0.4rem ; */
}

#how-to img {
  margin-top: 0.3rem;
}
h2 {
  position: relative;
  padding: 0.5em;
  background: #3c3c3c;
  color: white;
  font-size: 2rem;
  /* margin-bottom: 1rem; */
  font-family: "Not o Serif", "Noto Serif JP", "Noto Serif CJK JP",
  "Times Npxpx Roman", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", 游明朝,
  "Yu Minc", YuMincho, HGS明朝E, serif;
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 1rem;

}

h2::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}
h3 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: white;/*文字色*/
  /* background: #f4f4f4;背景色 */
  /* border-left: solid 5px #7db4e6;左線 */
  /* border-bottom: solid 3px #d7d7d7;下線 */
  /*line-height: 1.5;*/
  font-size: 1.5rem;
  /* margin-bottom: 1rem; */
  font-family: "Not o Serif", "Noto Serif JP", "Noto Serif CJK JP",
    "Times Npxpx Roman", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", 游明朝,
    "Yu Minc", YuMincho, HGS明朝E, serif;
  margin: 1.2rem 0.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

.qa-container {
  margin: 1.5rem 1.2rem;
  text-align: justify;
}

.question {
  font-weight: 700;
  font-size: 1.25rem;
  /* text-decoration: underline; */
  display: inline-block;
  border-bottom: 2px solid white;
}

.question::before {
  display: inline-block;
  content: "Q.";
  margin-right: 0.5rem;
}

.answer {
  margin: 0.8rem 1rem 0 1rem;
}

.answer::before {
  display: inline-block;
  content: "A.";
  margin-right: 0.5rem;
}
/* ページトップに戻る */
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}



#pageTop i {
  padding-top: 6px;
  position: absolute;
    right: 0.7rem;
}



#pageTop a {
  display: block;
  z-index: 999;
  padding: 8px 0 0 8px;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  background-color:var(--cyan);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  position: relative;
}



#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}
/* フッター */

footer {
  background: black;
  padding: 2rem;
  margin-top: 1rem;
}

small {
  display: block;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
}

.fabfa-twitter-square {
  display: block;
  width: 5rem;
  height: 5rem;
  margin-left: auto;
}
/*
.section-title{
  text-align: center;
} */
/* .contents-wrapper-QA{
  text-align: center;
} */
.qa-container{
  display: inline-block;
  text-align: justify;
}
/* a{
  color: #008cb4;
font-family: Arial, Helvetica, sans-serif;
} */

.contents-wrapper a{
  color : #F9BF33;
  font-size: 1.5rem;
  font-weight: bold;
}
.contents-wrapper a:hover{
  color: #008cb4;
  text-decoration: none;
}
.answer a{
  color: #F9BF33;

  font-weight: bold;
}
.answer a:hover{
  color: #008cb4;
  text-decoration: none;
}