/* .contents-wrapper img{
  width: 250px;
  height: auto;
}

.contents-wrapper p{
  white-space: pre-line;
  width: 20rem;
}
#details .contents-wrapper p{
  margin: 0 0 2rem 20rem;
}
#details .contents-wrapper h3{
  margin: 0 0 2rem 20rem;
} */