@charset "UTF-8";
@import "compass/css3";
/*@import url("PC.css")*/
/* ///////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////// */

html, body {
	height: 100%;
	margin: 0;
	line-height: 1.7em;
	font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
li {
	list-style: none;
}

.PC{}
.SP{
	display:none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/* CSS Document */

body{
	width:100%;
	height:auto;
	text-align: center;
}
.TopWrapper{
	z-index:10;
	position:fixed;
	background-image: url("../img/asphalt02-large.jpg");
	height: 100vh;
	width: 100%;
	transform:skew(0deg, 0deg);
	color:#fff;
}

.TopContent{
	width: 100%;
	height: 60%;
	transform:skew(0deg, 0deg);
}

#shoes{
	width: 30%;
}
.line{
	position:relative;
	height: 5rem;
	width:100%;
}
#whiteline{
	height:5rem;
	width: 100%;
}
.line h1{
	width: 100%;
	text-align: center;
	display: block;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3em;
	color:#000;
}

.top_btn{

}
.top_btn li{
	display: inline-block;
	width:15%;
	height:5%;
	padding-top: 0.125%;
	padding-bottom: 0.125%;
	transform:skew(0deg, 0deg);
	font-size: 1.2rem;
}
.top_btn li a{
	display: block;
	margin: 5%;
	text-decoration: none;
	color: #fff;
}

#b_studio{
	background-color: #E4D647;
	border: solid 5px #BBA40A;
}

#b_studio:hover{
	background-color: #8EE586;
}
#b_live{
	background-color: #6F82E1;
	border: solid 5px #000001;
}

#b_live:hover{
	background-color: #8EE586 ;
}
#b_shop{
	background-color: #FF3131;
	border: solid 5px #941B1B;
}

#b_shop:hover{
	background-color: #8EE586;
}

.dammy{
	position: relative;
	z-index: 0;
	height: 50vh;
	padding:15% 5%;
	padding-top: 0;
	transform:skew(0deg, 0deg);
	color:#fff;
	padding-bottom: 25%;
}


.general{
	width: 100%;
	height: 100vh;
	background-color: #7ac943;
	border: 20px solid #ffffff;
	border-right: none;
	border-left: none;
	opacity: 1.0;
	background-image: url(general_bg.png);
	background-repeat: repeat;
	-webkit-background-size: 40px;
	background-size: 60px;
	transform:skewY(0deg);
	padding-bottom: 30%;
	text-align: center;
}
.firstline{
	text-align: left;
	color:#ffffff;
	margin-left: 5%;
	padding-top: 5%;
	font-size: 2.0rem;
	opacity: 1.1;
	font-weight: 600;
	transform: skew(0deg,0deg);
}
.firstline_l{
	text-align: left;
	color:#ffffff;
	margin-left: 5%;
	padding-top: 5%;
	font-size: 2.0rem;
	opacity: 1.1;
	font-weight: 600;
	transform: skew(0deg,0deg);
}
.general_title{
	text-align: right;
	color:#ffffff;
	margin-right: 5%;
	padding-top: 5%;
	font-size: 3.6rem;
	font-weight: 700;
	transform:skew(0deg,0deg);

}
.contents{
	position: relative;
	z-index:50;
	width: 100%;
	height: 100vh;
	padding-top: 0.5%;
	border-right: none;
	border-left: none;
	opacity: 1.0;
	transform:skew(0deg,0deg);
}
#studio{
	background-color: #f2d500;
	border: 5px solid #d3b609;
}
#live{
	background-color: #ddddaa;
	border: 5px solid #d3b609;
}
#shop{
	background-color: #f2d500;
	border: 5px solid #d3b609;
}

.sec{
	text-align: center;
	width: 80%;
	height: 100%;
	margin: 100px;
	background-color: #fff;
}
#studio .sec{

}

#studio .text{
	width: 100%;
	height: 100%;
	color: #FFFFFF;
}
#studio_bg{
	background-image: radial-gradient(#ffe67d 30%, transparent 0);
	background-position: 0 0, 10px 10px;
	background-size: 50px 50px;

}
#jump01{
	text-decoration: none;
}
