h1 { text-align: center; }
h2 { border: firebrick 2px solid; background-color: linen; color: firebrick; text-align: center;}
h3 { border-bottom: mediumseagreen 4px dashed; background-color: darkseagreen; color: khaki; text-align: center;}
h4 { border: midnightblue 2px double; background-color: orange; color: midnightblue; text-align: center;}
