@charset "utf-8";

/* 上記の「@charset "utf-8";」の前には一切文字を入力しないこと　*/


/* ページの背景と文字の色を設定　*/
body	{background-color:yellow;}
	

/* h1要素の設定　*/
h1	{text-align:center;
font-weight:bold;}


	


/* h2要素の設定　*/
h2	{border-bottom:4px double;
border-color:lime;}


	

/* h3要素の設定　*/
h3	{background-color:lime;}


	}