@charset "UTF-8";
/* ///////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////// */
html, body {
	height: 100%;
	margin: 0;
	line-height: 1.7em;
	width:100%;
}
li {
	list-style: none;
}
.PC{
	display:none;
}
.Smart{
	display:inline;
}

/*
		ヘッダー
					*/
					
.head {
	magin: 0 aute;
	line-height: normal;
	position:relative;
	z-index:2;
	background-color: #fff;
}
.head_btn {
}
.head_btnLeft {
	margin:0 auto;
	height: 100%;
	text-align:center;
	position:relative;
}
#head_mcsLogo {
	margin-top:1%;
	width: auto;
	height: 8vh;
}
.menuWrap{
	margin:0 auto;
	text-align:right;
}
.menu{
	width:auto;
	height:8vh;
	margin-right:3%;
	position:absolute;
	right:3%;
	bottom:8%;
}

.head_btnRight {
	display:none;
}

/*
	 head_map
				*/
.head_map {
	display:none;
}



/*
		 中身
					*/
					
/*アスペクト比を維持しながらレスポンシブにしたい要素用
	iframeの入れ物に対して、
		class="flexIframe"
		と、それ以外の識別子を付与
	それ以外の識別子のCSSに
		width:"ほしい幅";
		padding-top:"width*横の比率/縦の比率"
	を設定
	(ここでは、アスペクト比が、"横の比率:縦の比率"で表されているとする)
	すると、レスポンシブになる。
	※注意※iframeの埋め込みデータの中にwidthとheightの設定が書き込まれている場合があるので、それは削除しておくこと
	適時、margin等を設定するとよいかと。	
*/	
.flexIframe {
	position: relative;
}
.flexIframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*
	線で囲んだタイトル用のCSS
		class="lineBox"の要素のdivの中に、タイトル文字を記入したdivを入れる
		タイトル文字の記入されたdivにidかclassを付与
		文字の太さやパディング、マージンの微調整
*/
/*
	線で囲んだタイトル用のCSS
		class="lineBox"の要素のdivの中に、タイトル文字を記入したdivを入れる
		タイトル文字の記入されたdivにidかclassを付与
		文字の太さやパディング、マージンの微調整
*/
.lineBox {
	text-align: center;
	margin: 0 auto;
}
.lineBox div {
	color: #000;
	text-align: center;
	display: inline-block;
}
.lineBox .topTitleWrap {
	border: solid 0.25em #000000;
	background-color: rgba(255,255,255,0.5);
}
.lineBox .subTitle {
	border: solid 0.25em #000000;
	background-color: rgba(255,255,255,0.5);
}
.subTitle {
	margin: 2em auto;
	padding: 0.5em 1.5em;
}
.topTitleWrap {
	padding: 1em 1em;
	display: inline-block;
}
.topTitle {
	width: 6em;
	font-size: 1.4em;
	font-weight: 600;
	border-bottom: solid 0.2em #000000;
}

.date{
	font-size: 0.8em;
	color: #000;
	text-align: left;
}

.page_top {
	display:none;
}

/*
		 TOP画
					*/
.topImg {
	width: 100%;
	background-size: cover;
	padding: 9% 0;
	text-align: center;
}
#topImg_about {
	background-image: url(img/about_top.jpg);
}
#topImg_works {
	background-image: url(img/topPic.jpg);
}
#topImg_project {
	background-image: url(img/topPic.jpg);
}
#topImg_contents {
	background-image: url(img/topPic.jpg);
}
#topImg_pressrelease {
	background-image: url(img/topPic.jpg);
}
#topImg_links {
	background-image: url(img/topPic.jpg);
}

/*
	　ハンバーガー
					*/
.hamMenu{
	position:relative;
	z-index:2;
	width:100%;
	display:none;
}
.menu_section{
	background-color:#D8D8D8;
	border-bottom:#727272 solid 1px;
	line-height:3em;
	text-align:center;
	height:10.5vh;
}
.menu_section a{
	display:block;
	text-decoration:underline;
	color:#000;
	position:relative;
	font-weight: 800;
}
.menu_subsection {
	background-color:#969696;
	border-bottom:#C7C7C7 solid 1px;
}
.menu_subsection a{
		color:#fff;
}
img.menu_SNS{
	height:2em;
	width:auto;
}
a.menu_SNS{
	display:inline-block;
	padding:2em 0.4em 2em 0.4em;	
}

.menu_arrow{
	position:relative;
	right:-85%;
	top:-2em;
	width: 10px;
	height: 10px;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_subsection .menu_arrow{
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
}

.menu_overlay{
	position:fixed;
	width:100%;
	height:120%;
	background-color: rgba(0,0,0,0.35);
	z-index:1;
	display:none;
}





/*
	　 Topページ
					*/
#top_firstView {
	height: 100vh;
}
.top_topWrapper {
	
   	height: 92vh ;

	background-image: url("img/top_top1.jpg");
	background-size: cover;
	color: white;
	text-align: center;
	position: relative;
	display: table;
	width: 100%;
}
.top_topMCSWrap {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.top_topName {
	padding:0.3em 1em;
	width: 11.5em;
	color: black;
	border: 0.15em solid black;
	margin: 0 auto;
	background-color:rgba(255,255,255,0.7);
}
.top_topKansai {
	font-size: 1em;
	width: 90%;
	border-bottom: 0.15em solid black;
	margin: 0.5em auto;
}
.top_topMCS {
	font-size: 2.3em;
	margin: 0.1em auto;
	padding-bottom:0.3em;
}

a#top_scroll{
	padding-top: 60px;
	
	position: absolute;
	top:85vh;
	left: calc(50% - 24px);
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-decoration: none;
	color:#fff;
}
a#top_scroll span{
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 1.5s infinite;
	animation: sdb 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

#top_topUnder {
	position:absolute;
	top: 87vh ;
	
	height: 15vh;
	width:100%;
	background-image: url("img/top_topUnder.png");
	background-size: contain;
	z-index:2;
}



/*
	　 Topページ内容
						*/
						

.try {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1em 0 0 2em;
	border-color: transparent transparent transparent #007bff;
}

.top_mainWrapper {
	padding: 0;/*margin:*/
	margin-top:30px;
	position:relative;
	z-index:1;/*z-indexを動作させるには、static以外のpositionの設定が必要*/
}
.top_mainContainer1 {
	margin: 3% 0 -80px 0;
}
.top_mainContainer2 {
	display: inline-block;
	margin : 0;
	width: 37%;
	z-index:1;
}
#SNSwrapper {
	display:none;
}
.top_mainObject1 {
	margin: 0 auto;
	position: relative;
	z-index: 2;
	width: 90%;
}
.top_mainNameContainerWrapper {
	width: 90%;
	font-size: 0;/*inline-block間の隙間を埋める*/
	margin: 0 auto 20px auto;
}
.top_mainNameContainerWrapperRight {
	text-align: right;
	width: 90%;
	font-size: 0;/*inline-block間の隙間を埋める*/
	margin: 0 auto 20px auto;
}
.top_mainNameContainerWrapperLeft {
	text-align: left;
	width: 90%;
	font-size: 0;/*inline-block間の隙間を埋める*/
	margin: 0 auto 20px auto;
}
/*idごとに矢印の長さを調節*/
.top_mainNameContainer {
	border-bottom: 0.2em solid black;
	display: inline-block;
}
#top_mainNameContainerNow {
	font-size: 25px;
	width: 55%;
	text-align: left;
}
#top_mainNameContainerNews {
	font-size: 25px;
	width: 70%;
	text-align: right;
}
.top_mainName {
	text-align: center;
	color: black;
	margin: 0;
	border-top: 0.2em solid black;
	border-left: 0.2em solid black;
	border-right: 0.2em solid black;
	padding: 0.2em;
	display: inline-block;
}
#top_mainNameNow {
	width: 65px;
}
#top_mainNameNews {
	width: 90px;
}
.top_mainTryRight {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: bottom;
	border-style: solid;
	border-width: 15px 0 0 30px;
	border-color: transparent transparent transparent #000000;
}
.top_mainTryLeft {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: bottom;
	border-style: solid;
	border-width: 0 0 15px 30px;
	border-color: transparent transparent #000000 transparent;
}
#top_mainNowContens {
	height: 3em;
	width: 90%;
	margin: 0 auto;
}
#top_mainNowContens img{
	width:100%;
}
#top_mainNewsContens {
	height: 5em;
	width: 90%;
	margin: 0 auto;
	background-color: #ffffff;
	margin-left:3%;
}

.top_mainBgc {
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
#top_mainNowBgc {
	height: 7em;
	width: 90%;
	background-color: #ffa996;
	top: -5.5em;
}
#top_mainNewsBgc {
	height: 10em;
	width: 90%;
	background-color: #FFCC66;
	top: -7.5em;
	margin-bottom:20px;

}
/*NEWSボックス*/
#top_NewsBox {
	overflow: auto;
	width: 100%;
	height: 6em;
	padding: 5px;
	border: 2px solid #606060;
	color: #000000;
	background-color: #ffffff;
}
#top_NewsBox a {
	color: #000000;
	text-decoration: none;
	
	font-size: 1em;
	line-height:2em;
	border-bottom:#000000 solid 1px;
}
#top_NewsBox a:hover {
	text-decoration: underline;
}
/*
		About
			 	  */
/*モーダルのCSS*/
.modal_box{
	width: 80%;
	margin: 0 auto;
}

.modal_box .modal-open{
	display:inline-block;
}
.modal-open img{
	width:20vw;
	height:auto;
}
.modal-content {
	width:80%;
	margin:0;	
	height:96vh;
	padding:0.2%;
	border: 2px solid #aaa ;
	background:#fff;
	position:fixed;
	display:none;
	z-index:3;
	overflow:auto;
}

.about_modalTitle{
	margin-top:-3%;
	font-size: 1.3em;
	font-weight: 800;
}
 .about_modalText{
	font-size: 0.8em;
	color:#000;
	line-height:1.5em;
	width:75%;
	margin:0 auto;
 }
  
#modal-overlay {
z-index:2;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

.button-link {
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover {
	cursor:pointer;
	color:#f00;
}

.movie-wrap {
    position: relative;

    padding-bottom:20px;
    padding-top: 20px; 
	width:auto;
    height:50hv;
    overflow: hidden;
}
.movie-wrap img{
	width:80%;
	height:auto;
}
 
.movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.modal-img{
    max-width: 100%;
    height: auto;
}

.modal-content p{
	margin:0 auto;
	width:85%;
	font-size: 1em;
	color:#000;
	line-height:1.3em;
	text-align:left;
}

/*

	   	ABOUT
					*/		
.about_mainWrapper {
	pading: 0;
	padding-left: 0;
	margin: 5em auto;
	width: 100%;
}
.about_titleWrapper {
	margin: 2em auto;
	margin-top: 5em;
	text-align: center;
	width: 100%;
}
.about_titleNum {
	display: inline-block;
	font-size: 1.3em;
	padding: 0.2em 0.1em;
	margin: 0 0.5em;
	border: 0.1em solid #000;
}
.about_titleTitle {
	display: inline-block;
	font-size: 1.3em;
}
.about_titleBar {
	display: inline-block;
	background-image: url(img/bar.png);
	background-size: contain;
	height: 10px;
	margin: 0 1em
}
#about_section01 {

	width: 25%;
}
#about_section02 {

	width: 40%;
}
#about_section03 {

	width: 50%;
}
#about_section04 {

	width: 26%;
}
p.about {
	width: 70%;
	margin: 0 auto;
}
#about_moveMCS {
	width: 68%;
	padding-top: 38.25%;/*0.5625*width%*/
	margin: 2em auto;
}
.about_office {
	text-align: center;
	padding: 0;
	width: 100%;
}
.about_officeItemWrapper {
	display: inline-block;
	margin: 0 1%;
	width: 20%;
	position:relative;
}
.about_officeItem {
	padding-top: 100%;/*padding-topの基準はwidth*/
	width: 100%;
	background-size: cover;
	overflow: hidden;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#about_officeItem01{
	background-image: url(img/modal/production_Department.jpg);
}

#about_officeItem02 {
	background-image: url(img/modal/technical_Station.jpg);
}

#about_officeItem03 {
	background-image: url(img/modal/DPI.jpg);
}
.about_officeItem:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.about_officeTitle{
	color: #FFF;
	font-size: 2em;
	position:relative;
	top:-20px;
}

#about_environmentTop {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
#about_enviromentMap {
	position: relative;
	width: 70%;
	padding: 30% 0 0 0;
	display: inline-block;
	vertical-align: middle;
}
#about_emviromentP {
	display: inline-block;
	width: 70%;
	vertical-align: middle;
	text-align:left;
	padding-left:2%;
}
#about_medican3Wrapper {
	text-align: center;
	width:80%;
	margin:0 auto;
}
#about_medican3P {	
	width: 80%;	
	text-align:left;
	margin-left:15%;
}
.about_medican3Img {
	vertical-align: middle;
	
	width: 50%;
	height: auto;
	margin-left:25%;
		
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.about_medican3Img:hover {
	-webkit-transform: rotate(13deg) scale(1.2);
	transform: rotate(13deg) scale(1.2);

}


/*
		Works
			 	  */
				
.works_mainWrapper {
	margin: 0 auto;
	margin-top: 1.5%;
	width: 100%;
}

.works_btnWrapper {
	margin: 0 auto;
	font-size: 0;
}
.works_sBtn{
	width:20%;
	height:auto;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom:1.5%;
}
.works_sBtnL{
	padding-right:1%;
}
.works_sBtnR{
	padding-left:1%;
}
.works_lBtn{
	width:79%;
	height:auto;
	display:inline-block;
	vertical-align: bottom;
	margin-bottom:1.5%;
}
.works_btnLong:hover {
	background-image: url("img/long-on.png");
	background-size: contain;
}


.works_bkBtnWrap {
	width: 8em;
	margin-left:15%;
	padding-bottom:2%;
	padding-top:2%;
}
.works_bkBtnA {
	color: #000;
	text-decoration: none;
}
.works_bkBtn {
	color: #000;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	
	width: 100%;
	height: 100%;
	
	border-radius: 5px;
}

.works_bkBtnImg {
	display: inline-block;
	width: auto;
	height: 2em;
	vertical-align: middle;
}
.works_bkTxt {
	display: inline-block;
	text-align: right;
	padding: 0 0 0 2em;
	line-height: 0.1em;
	vertical-align: middle;
}
#project_bk {
	position:relative;
	background-color: #FF9B91;
	box-shadow: -6px 0 #ab3c3c;
}
#contents_bk {
	position:relative;
	background-color: #78FF6D;
	box-shadow: -6px 0 #2D9B00;
}
#pressrelease_bk {
	position:relative;
	background-color: #FFFA85;
	box-shadow: -6px 0 #FFC600;
}


/*
	  プロジェクト
		 			*/
.project_dataBox {
	margin: 3em auto;
	text-align: center;
}
.project_img {
	width: 80%;
	height: auto;
}
.project_imgPC{
	display:none;
}
.project_imgSmart{
	text-align:center;
}
.project_txtBox {
	text-align:left;
	padding: 0 3em;
	line-height: 1.5em;
	width: 80%;
}
.project_date {
	font-size: 0.9em;
	padding: 0.2em 0;
}
.project_name {
	font-size: 1.8em;
	font-weight: 800;
	padding: 0.4em 0.3em;
}
.project_p {
}
.project_line {
	width: 77%;
	height: 0.1em;
	margin: 2em auto;
	background-color: #000;
}



/*

	  CONTENTS
					*/
.contents_type {
	margin: 4em 0 2em 0;
}
#hot_contents {
}
#contents_hotContents {
	font-weight: 800;
	font-size: 1.2em;
	margin: 3em auto;
}
.hotWrap {
	text-align: center;
}
.contents_hotBox {
	display: inline-block;
	text-align: left;
	width: 80%;
	margin: 0 0.5em;
	vertical-align: top;
}
.contents_hotDate {
	font-size: 0.8em;
}
.contents_hotBlock {
	padding-left: 1em;
}
.contents_hotMove {
	width: 100%;
	padding-top: 56.25%;/*0.5625*width%*/
	margin: 1em auto;
}
.contents_hotTitle {
	font-size: 1.3em;
	font-weight: 600;
}
.contents_hotP {
}

.contents_originalWrap {
	width: 90%;
	margin: 0 auto;
}
.contents_originalWrap a{
	text-decoration:none;
}
.contents_originalMovie {
	width: 48%;
	/*padding-top: 13.5%;/*0.5625*width%*/
	display: inline-block;
	margin: 0.2%;
	vertical-align:bottom;
}
figure {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin:0 auto;
}
figure img{
	width:100%;
	height:auto;
	vertical-align: bottom;
}
figcaption {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
}
figcaption h3,
figcaption p {
	position: absolute;
	left: -100%;
	width: 80%;
	-webkit-transition: .3s;
	transition: .3s;
	color:#fff;
}
figcaption h3 {
	top: 10%;
}
figcaption p {
	top: 50%;
}
figure:hover figcaption {
	opacity: 1;
}
figure:hover figcaption h3,
figure:hover figcaption p {
	left: 8%;
	animation-iteration-count: infinite;
}
figure:hover figcaption h3 {
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}
figure:hover figcaption p {
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
}

.contents_film {
	margin: 0 auto;
}
.contents_filmWrap {
	margin: 0 auto;
	width: 90%;
}
.contents_filmMovie {
	display: inline-block;
	width: 100%;
	padding-top: 56.25%;/*0.5625*width%*/
	margin: 1em auto;
	vertical-align: middle;
}
.contents_filmTextWrap {
	display: inline-block;
	width: 95%;
	margin-left: 1em;
	margin-bottom:1em;
}
.contents_filmTitle {
	font-size: 1.4em;
}
.contents_filmP {
}




/*

 	 PressRelease
					*/

.pressrelease_mainWrapper{
	width: 100%;
	margin: 2em 0;
}
.pre_conSet {
	text-align: left;
}
a.pre_conA{
	color:black;
}
.pre_continerData:hover{
	text-decoration: underline;
}
.pre_continerBox {
	width: 100%;
	margin: 0.5em 0;
	display: inline-block;
	border-bottom:1px solid #B4B4B4;
}
.pre_continerDate {
	display:none;
}
.pre_continerMain {
	padding: 0 1em;
	margin-bottom:1em;
}
.pre_continerImg {
	vertical-align:middle;
	background-size: cover;
	height: 100px;
	width:33%;
	display:inline-block;
	overflow:hidden;
}
.pre_continerImg img{
	height:100%;
	width:auto;
		-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.pre_continerBox:hover img{
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}

.pre_continerData{
	vertical-align:middle;
	display:inline-block;
	width: 60%;	
	padding-left:3%;
}
.pre_continerSmartDate{
	
}
.pre_continerTitle {
	font-size: 1em;
	font-weight: 800;
	
	width:100%;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.pre_continerText {
	width:100%;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.pre_conNone{
	display:none;
}

/*
	PressRelease Index
						*/
.preIndex_conWrap{
	width:80%;
	margin:4em auto;
}
.preIndex_conDate{
	font-size: 0.9em;
}
.preIndex_mainImg img{
	width:100%;
	height:auto;
	margin-bottom:1em;
}
.preIndex_mainTitle{
	font-size: 2em;
	font-weight: 800;
	margin:0.5em 0;
}
.preIndex_mainText{
}

/*
		LINKS
					*/
.links_blockWrap {
	margin-bottom: 3em;
}
.links_linkBox {
	margin: 0.5em auto;
	text-align: center;
}
.links_banner {
	width: 80%;
	height: auto;
}
.links_txt {
	width: 80%;
	text-align:center;
	margin:0 auto 2em auto;
}

/*	
		フッター
					*/
.foot {
	background-color: #000000;
	color: #ffffff;
	height: 15vh;
	padding: 0.1em 0;
	text-align: center;
	z-index: 3;
}

.foot_smartBox{
	position:relative;
	margin-bottom:-3%;
}
.foot_smartA{
	text-decoration: none;
	color: #fff;
}
.foot_smartSNSWrap{
	position:absolute;
	right:4%;
	top:1%;
}
.foot_smartSNSA{
	
}

.footer_map {
	display:none;
}

/**
		 フォーム
						**/
.mailForm{
	position:relative;
	top:1em;
	text-decoration:underline;
	color:#fff;
}
.mailForm:hover{
	font-weight: 800;
}
.footer_form {
	display:none;
}




/* CSS Document */

