@charset "UTF-8";
/* ///////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////// */
html,body{
	
	margin: 0;
	line-height: 1.7em;
	font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}
li {
	list-style: none;
}

.Smart{
	display:none;
}
.PC{
}

/*
		ヘッダー
					*/
					
.head {
	magin: 0 aute;
	height: 80px;
	line-height: normal;
}
.head_btn {
	height: 30px;
}
.head_btnLeft {
	float: left;
	height: 100%;
}
#head_mcsLogo {
	height: 100%;
	width: auto;
}
.head_btnRight {
	float: right;
	padding: 0;
	height: 100%;
}
.head_btnRight ul {
	padding : 0;
	margin : 0;
}
.head_btnLink {
	float: left;
	height: 90%;
	margin: 0;
}
.menu{
	display:none;
}
/*
	 head_map
				*/
.head_map {
	clear: both;
	text-align: center;
	padding: 0;
	margin: 0;
	height:44.6px;/*ボタンの高さ-ボーダー幅*/
	background-color: #DBDBDB;
}
ul.head_map{
	font-size: 1.5em;
	display:table;
	table-layout: fixed;
	width:100%;		
	margin:0;
	border-bottom: 6.4px solid #525252;
}

ul.head_map a{
	display:table-cell;
	vertical-align:middle;
	text-align:center;	
	color: #000000;
	text-decoration: none;
	font-size: 1.2em;
}
.head_mapLink{
	line-height: 43.6px;/*ボタンの高さ-ボーダー幅*/
	height:100%;
}
/*マップボタンの幅と位置を管理*/
#head_mapThis {
	background-color: #525252;
	color: white;
}
.menu{
	display:none;
}
/*
		中身		
					*/
					
/*アスペクト比を維持しながらレスポンシブにしたい要素用
	iframeの入れ物に対して、
		class="flexIframe"
		と、それ以外の識別子を付与
	それ以外の識別子のCSSに
		width:"ほしい幅";
		padding-top:"width*横の比率/縦の比率"
	を設定
	(ここでは、アスペクト比が、"横の比率:縦の比率"で表されているとする)
	すると、レスポンシブになる。
	※注意※iframeの埋め込みデータの中にwidthとheightの設定が書き込まれている場合があるので、それは削除しておくこと
	適時、margin等を設定するとよいかと。	
*/	
.flexIframe {
	position: relative;
}
.flexIframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*
	線で囲んだタイトル用のCSS
		class="lineBox"の要素のdivの中に、タイトル文字を記入したdivを入れる
		タイトル文字の記入されたdivにidかclassを付与
		文字の太さやパディング、マージンの微調整
*/
.lineBox {
	text-align: center;
	margin: 0 auto;
}
.lineBox div {
	color: #000;
	text-align: center;
	display: inline-block;
}
.lineBox .topTitleWrap {
	border: solid 0.25em #000000;
	background-color: rgba(255,255,255,0.5);
}
.lineBox .subTitle {
	border: solid 0.25em #000000;
	background-color: rgba(255,255,255,0.5);
}
.subTitle {
	margin: 2em auto;
	padding: 0.5em 1.5em;
	font-weight: 800;
}
.topTitleWrap {
	padding: 1.5em 1.5em;
	display: inline-block;
}
.topTitle {
	width: 6em;
	font-size: 1.5em;
	font-weight: 600;
	border-bottom: solid 0.2em #000000;
}

.date{
	font-size: 0.8em;
	color: #000;
	text-align: left;
}


/*
	　 闇の技術
				　	*/
.page_top {
	position: fixed;
	bottom: 20px;
	right: 20px;

	width:70px;
	height: auto;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	
	z-index:5;
	display:none;
}
.page_top:hover{
	background-color: rgba(96,96,96,0.53);
}
.page_top:active{
	bottom:15px;
}


/*
	　ハンバーガー
					*/
.hamMenu{
	display:none;
}
.menu_overlay{
	display:none;
}
.menu{
	display:none;
}

/*
		 TOP画
					*/
.topImg {
	width: 100%;
	background-size: cover;
	padding: 9% 0;
	text-align: center;
}
#topImg_about {
	background-image: url(img/about_top.jpg);
}
#topImg_works {
	background-image: url(img/works_top.jpg);
}
#topImg_project {
	background-image: url(img/works_top.jpg);
}
#topImg_contents {
	background-image: url(img/works_top.jpg);
}
#topImg_pressrelease {
	background-image: url(img/works_top.jpg);
}
#topImg_links {
	background-image: url(img/links_top.jpg);
}


/*
	  index.html

					*/
					
body.index_body{
	height: 100%;
	margin:0;
}
#top_firstView {
	height: 100%;
}
/* 	Top画	*/	

.top_topWrapper {
	
   	height: 85% ; /* IE8以下とAndroid4.3以下用フォールバック */
   	height : -webkit-calc(100% - 80px) ;
  	height : calc(100% - 80px) ;
	
	background-image: url("img/top_top1.jpg");
	background-size: cover;
	color: white;
	text-align: center;
	position: relative;
	display: table;
	width: 100%;
}
.top_topMCSWrap {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.top_topName {
	padding:0.3em 1em;
	width: 13em;
	color: black;
	border: 0.15em solid black;
	margin: 0 auto;
	background-color:rgba(255,255,255,0.7);
}
.top_topKansai {
	font-size: 1.1em;
	width: 90%;
	border-bottom: 0.15em solid black;
	padding:0.3em 0.5em 0.5em 0.5em;
	margin: 0.5em auto;
}
.top_topMCS {
	font-size: 2.5em;
	margin: 0.1em auto;
	padding-bottom:0.3em;
}

a#top_scroll{
	padding-top: 60px;
	
	position: relative;
	top:-100px;
	left: calc(50% - 24px);
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-decoration: none;
	color:#fff;
}
a#top_scroll span{
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 1.5s infinite;
	animation: sdb 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

#top_topUnder {
	position:relative;
	top:-172px;
	height: 90px;
	width:100%;
	background-image: url("img/top_topUnder.png");
	background-size: contain;
	z-index:2;
	margin-bottom:-170px;
}
/*
	 Topページコンテンツ
						*/				

.try {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1em 0 0 2em;
	border-color: transparent transparent transparent #007bff;
}

.mainWrapper {
	padding: 0;/*margin:*/
	position:relative;
	z-index:1;/*z-indexを動作させるには、static以外のpositionの設定が必要*/
}
.top_mainContainer1 {
	margin: 3% 0 -80px 0;
}
.top_mainContainer2 {
	display: inline-block;
	margin : 0;
	width: 37%;
	position:relative;
	z-index:1;
}
#SNSwrapper {
	margin: 0 auto;
	text-align: center;
	position: relative;
	margin-bottom: -400px;
	z-index:1;
}
.top_mainObject1 {
	margin: 0 auto;
	position: relative;
	z-index: 2;
	width: 75%;
}
.top_mainObject2 {
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.top_mainNameContainerWrapper {
	width: 90%;
	font-size: 0;/*inline-block間の隙間を埋める*/
	margin: 0 auto 20px auto;
}
.top_mainNameContainerWrapperRight {
	text-align: right;
	width: 90%;
	font-size: 0;/*inline-block間の隙間を埋める*/
	margin: 0 auto 20px auto;
}
.top_mainNameContainerWrapperLeft {
	text-align: left;
	width: 90%;
	font-size: 0;/*inline-block間の隙間を埋める*/
	margin: 0 auto 20px auto;
}
.top_mainNameContainerWrapperSNS {
	width: 82%;
}
/*idごとに矢印の長さを調節*/
.top_mainNameContainer {
	border-bottom: 0.2em solid black;
	display: inline-block;
}
#top_mainNameContainerNow {
	font-size: 25px;
	width: 55%;
	text-align: left;
}
#top_mainNameContainerNews {
	font-size: 25px;
	width: 70%;
	text-align: right;
}
#top_mainNameContainerTwitter {
	font-size: 25px;
	width: 72%;
	text-align: left;
}
#top_mainNameContainerFacebook {
	font-size: 25px;
	width: 72%;
	text-align: right;
}
.top_mainName {
	text-align: center;
	color: black;
	margin: 0;
	border-top: 0.2em solid black;
	border-left: 0.2em solid black;
	border-right: 0.2em solid black;
	padding: 0.2em;
	display: inline-block;
}
#top_mainNameNow {
	width: 65px;
}
#top_mainNameNews {
	width: 90px;
}
#top_mainNameTwitter {
	width: 95px;
}
#top_mainNameFacebook {
	width: 110px;
}
.top_mainTryRight {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: bottom;
	border-style: solid;
	border-width: 15px 0 0 30px;
	border-color: transparent transparent transparent #000000;
}
.top_mainTryLeft {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: bottom;
	border-style: solid;
	border-width: 0 0 15px 30px;
	border-color: transparent transparent #000000 transparent;
}
#top_mainNowContens {
	height: 3em;
	width: 80%;
	margin: 0 auto;
	background-color: #767676;
}
#top_mainNewsContens {
	height: 5em;
	width: 80%;
	margin: 0 auto;
	background-color: #ffffff;
}
.top_mainSNSContens {
	width: 70%;
	margin: 0 auto;
}
.top_mainBgc {
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
#top_mainNowBgc {
	height: 9em;
	width: 75%;
	background-color: #ffa996;
	top: -5.5em;
}
#top_mainNewsBgc {
	height: 11em;
	width: 75%;
	background-color: #FFCC66;
	top: -7.5em;
}
#top_mainTwitterBgc {
	height: 515px;
	width: 95%;
	background-color: #99CC99;
	top: -490px;
}
#top_mainFacebookBgc {
	height: 515px;
	width: 95%;
	background-color: #d1bada;
	top: -490px;
}
/*NEWSボックス*/
#top_NewsBox {
	overflow: auto;
	width: 100%;
	height: 100%;
	padding: 5px;
	border: 2px solid #606060;
	color: #000000;
	background-color: #ffffff;
	line-height: 1.5em;
}
#top_NewsBox a {
	color: #000000;
	text-decoration: none;
}
#top_NewsBox a:hover {
	text-decoration: underline;
}
/*

	   	ABOUT
					*/		
.mainWrapper {
	pading: 0;
	padding-left: 0;
	margin: 5em auto;
	width: 100%;
}
.about_titleWrapper {
	margin: 2em auto;
	margin-top: 5em;
	text-align: center;
	width: 100%;
	position:relative;
	z-index:2;
}
.about_titleNum {
	display: inline-block;
	font-size: 1.3em;
	padding: 0.2em 0.1em;
	margin: 0 0.5em;
	border: 0.1em solid #000;
}
.about_titleTitle {
	display: inline-block;
	font-size: 1.3em;
}
.about_titleBar {
	display: inline-block;
	background-image: url(img/bar.png);
	background-size: contain;
	height: 10px;
	margin: 0 1em
	position:relative;
	z-index:0;
}
#about_section01 {
	width: 50%;
}
#about_section02 {
	width: 56%;
}
#about_section03 {
	width: 60%;
}
#about_section04 {
	width: 52%;
}
p.about {
	width: 60%;
	margin: 0 auto;
}
#about_moveMCS {
	width: 68%;
	padding-top: 38.25%;/*0.5625*width%*/
	margin: 2em auto;
}
.about_office {
	text-align: center;
	padding: 0;
	width: 100%;
}
.about_officeItemWrapper {
	display: inline-block;
	margin: 0 1%;
	width: 20%;
	position:relative;
}
.about_officeItem {
	padding-top: 100%;/*padding-topの基準はwidth*/
	width: 100%;
	background-size: cover;
	overflow: hidden;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#about_officeItem01{
	background-image: url(img/modal/production_Department.png);
}
#about_officeItem01:hover{
	background-image: url(img/modal/production_Department_bright.png);
}

#about_officeItem02 {
	background-image: url(img/modal/technical_Station.png);
}
#about_officeItem02:hover{
	background-image: url(img/modal/technical_Station_bright.png);
}

#about_officeItem03 {
	background-image: url(img/modal/DPI.png);
}
#about_officeItem03:hover {
	background-image: url(img/modal/DPI.jpg);
}
.about_officeItem:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.about_officeTitle{
	color: #FFF;
	font-size: 2em;
	position:relative;
	top:-20px;
}

#about_environmentTop {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
#about_enviromentMap {
	position: relative;
	width: 70%;
	padding: 30% 0 0 0;
	display: inline-block;
	vertical-align: middle;
}
#about_emviromentP {
	display: inline-block;
	width: 70%;
	vertical-align: middle;
	text-align:left;
	padding-left:2%;
}
#about_medican3Wrapper {
	text-align: center;
	margin:0 auto;
	position:relative;
	z-index:1;
}
#about_medican3P {
	display: inline-block;
	vertical-align: middle;
	width: 30%;	
	text-align:left;
	margin-left:20%;
}
.about_medican3Img{
	width:20%;
	height:auto;
	vertical-align:middle;
	padding-left:3em;
	
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;	
}
.about_medican3Img:hover{
	-webkit-transform: rotate(13deg) scale(1.15);
	transform: rotate(13deg) scale(1.15);
}

/*編集中
モーダルのCSS*/
.modal_box{
	text-align: center;
	padding: 0;
	width: 100%;
}
.modal_box .modal-open{
	display:inline-block;
	z-index:5;
}
.modal-open img{
	width:80px;
	height:80px;
}

.modal-content {
	position:fixed;
	z-index:4;
	width:80%;
	height:95vh;
	border: 2px solid #aaa;
	background:#fff;
	left:0;
	margin-left:-1%;
	margin-top:1%;
	display:none;
	overflow:auto;
}
.about_modalTitle{
	margin-top:1em;
	font-size: 1.3em;
	font-weight: 800;
}

 .about_modalText{
	font-size: 0.8em;
	color:#000;
	line-height:1.5em;
	width:75%;
	margin:0 auto;
 }
.about_modalTitle{
	margin-top:-3%;
	font-size: 1.3em;
	font-weight: 800;
}
 
#modal-overlay {
	z-index:1;
	display:none;
	position:fixed;
	z-index:3;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

.button-link {
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover {
	cursor:pointer;
	color:#f00;
}

.movie-wrap {
	display:inline-block;
    position: relative;
    padding-top: 20px; 
	width:auto;
    height:80vh;
    overflow: hidden;
	margin-bottom:-3em;
}
.movie-wrap img{
	width:auto;
	height:80%;
}
 
.movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal_img01 {
	padding-top: 100%;/*padding-topの基準はwidth*/
	width: 100%;
	background-image: url(img/modal/switcher.jpg);
	background-size: cover;
	overflow: hidden;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.modal_img02 {
	padding-top: 100%;/*padding-topの基準はwidth*/
	width: 100%;
	background-image: url(img/modal/switcher.jpg);
	background-size: cover;
	overflow: hidden;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.modal_img03 {
	padding-top: 100%;/*padding-topの基準はwidth*/
	width: 100%;
	background-image: url(img/modal/switcher.jpg);
	background-size: cover;
	overflow: hidden;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/*
		Works
					*/
				
.works_mainWrapper {
	margin: 0 auto;
	margin-top: 1%;
	width: 100%;
}

.works_btnWrapper {
	margin: 0 auto;
	font-size: 0;
}
.works_sBtn{
	width:20%;
	height:auto;
	display: inline-block;
}
.works_sBtnL{
	padding-right:1%;
}
.works_sBtnR{
	padding-left:1%;
}
/*.works_btnShort {
	display: inline-block;
	width: 20%;
	background-image: url("img/works-project-short.jpg");
	background-size: cover;
}*/
.works_lBtn{
	width:79%;
	height:auto;
	display:inline-block;
}
/*.works_btnLong {
	display: inline-block;
	width: 79%;
	height: 100px;
	background-image: url("img/long.png");
	background-size: contain;
}*/
.works_btnLong:hover {
	background-image: url("img/long-on.png");
	background-size: contain;
}


/*
　 共通バックボタン	
				 	*/
.works_bkBtnWrap {
	width: 8em;
	margin: 3em 0 3em 15%;
}
.works_bkBtnA {
	color: #000;
	text-decoration: none;
}
.works_bkBtn {
	color: #000;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	
	width: 100%;
	height: 100%;
	
	border-radius: 5px;
}

.works_bkBtnImg {
	display: inline-block;
	width: auto;
	height: 2em;
	vertical-align: middle;
}
.works_bkTxt {
	display: inline-block;
	text-align: right;
	padding: 0 0 0 2em;
	line-height: 0.1em;
	vertical-align: middle;
}
#project_bk {
	position:relative;
	background-color: #FF9B91;
	box-shadow: -6px 0 #ab3c3c;
}
#project_bk:hover{
	box-shadow: -4px 0 #ab3c3c;
	left : -2px;
}
#project_bk:active{
	box-shadow: 0px 0 #ab3c3c;
	left:-6px;
}
#contents_bk {
	position:relative;
	background-color: #78FF6D;
	box-shadow: -6px 0 #2D9B00;
}
#contents_bk:hover{
	box-shadow: -4px 0 #2D9B00;
	left : -2px;
}
#contents_bk:active{
	box-shadow: 0px 0 #2D9B00;
	left:-6px;
}
#pressrelease_bk {
	position:relative;
	background-color: #FFFA85;
	box-shadow: -6px 0 #FFC600;
}
#pressrelease_bk:hover{
	box-shadow: -4px 0 #FFC600;
	left : -2px;
}
#pressrelease_bk:active{
	box-shadow: 0px 0 #FFC600;
	left:-6px;
}



/*
	  プロジェクト
		 			*/
.project_dataBox {
	margin: 3em auto;
	text-align: center;
}
.project_img {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	height: auto;
}
.project_imgSmart{
	display:none;
}
.project_txtBox {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	padding: 0 3em;
	line-height: 1.5em;
	width: 50%;
}
.project_date {
	font-size: 0.9em;
	padding: 0.2em 0;
}
.project_name {
	font-size: 1.8em;
	font-weight: 800;
	padding: 0.8em 0.3em;
}
.project_p {
}
.project_line {
	width: 77%;
	height: 0.1em;
	margin: 2em auto;
	background-color: #000;
}


/*

	  CONTENTS
					*/
.contents_filmTextWrap a , .contents_hotTitle a{
	text-decoration:none;
	color:#000;
	font-weight: 800;
}
.contents_hotTitle a:hover , .contents_filmTextWrap a:hover{
	text-decoration:underline;
}
.contents_type {
	margin: 4em 0 2em 0;
}
#hot_contents {
}
#contents_hotContents {
	font-weight: 800;
	font-size: 1.2em;
	margin: 3em auto;
}
.hotWrap {
	text-align: center;
}
.contents_hotBox {
	display: inline-block;
	text-align: left;
	width: 25%;
	margin: 0 0.5em;
	vertical-align: top;
}
.contents_hotDate {
	font-size: 0.8em;
}
.contents_hotBlock {
	padding-left: 1em;
}
.contents_hotMove {
	width: 100%;
	padding-top: 56.25%;/*0.5625*width%*/
	margin: 1em auto;
	vertical-align:bottom;
}
.contents_hotTitle {
	font-size: 1.3em;
	font-weight: 600;
}
.contents_hotP {
}

.contents_originalWrap {
	width: 80%;
	margin: 0 auto;
}
.contents_originalWrap a{
	text-decoration:none;
}
.contents_originalMovie {
	width: 24%;
	/*padding-top: 13.5%;/*0.5625*width%*/
	display: inline-block;
	margin: 0.2%;
}
figure {
	position: relative;
	overflow: hidden;
	width: 100%;
	left:-17%;
}
figure img{
	width:100%;
	height:auto;
	vertical-align: bottom;
}
figcaption {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
}
figcaption h3,
figcaption p {
	position: absolute;
	left: -100%;
	width: 80%;
	-webkit-transition: .3s;
	transition: .3s;
	color:#fff;
}
figcaption h3 {
	top: 18%;
}
figcaption p {
	top: 50%;
}
figure:hover figcaption {
	opacity: 1;
}
figure:hover figcaption h3,
figure:hover figcaption p {
	left: 8%;
}
figure:hover figcaption h3 {
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}
figure:hover figcaption p {
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
}

.contents_film {
	margin: 0 auto;
}
.contents_filmWrap {
	margin: 0 auto;
	width: 80%;
}
.contents_filmMovie {
	display: inline-block;
	width: 30%;
	padding-top: 16.875%;/*0.5625*width%*/
	margin: 1em auto;
	vertical-align: middle;
}
.contents_filmTextWrap {
	display: inline-block;
	width: 65%;
	margin-left: 1em;
	vertical-align: middle;
}
.contents_filmTitle {
	font-size: 1.4em;
}
.contents_filmP {
}
/*

 	 PressRelease
					*/

.pressrelease_mainWrapper{
	width: 100%;
	margin: 2em 0;	
	text-align: center;
}
a.pre_conA{
	text-decoration: none;
	color:black;
}
.pre_continerBox {
	width: 24%;
	margin: 0.5em;
	padding:0 3%;
	padding-left:2.5%;
	display: inline-block;
	border-right:1px solid #B4B4B4;
}
.pre_conA:nth-child(3n+3) .pre_continerBox {
	border:none;
}
.pre_conNoneLine{
	border:none;
}
.pre_continerDate {
	padding-bottom:0.2em;
}
.pre_continerMain {
	padding: 0 1em;
}
.pre_continerImg {
	background-size: cover;
	height:120px;/*vh非対応用*/
	height: 20vh;
	overflow:hidden;
	text-align:center;
}
.pre_continerImg img{
	width:100%;
	height:auto;
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.pre_imgPhoto{
	position: relative;
    top: -20%;
}
.pre_imgPoster{
 position: relative;
    top: -50%;
}
.pre_continerBox:hover img{
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}
.pre_continerSmartDate{
	display:none;
}
.pre_continerTitle {
	font-size: 1.2em;
	font-weight: 800;
}
.pre_continerText {
	overflow:hidden;
	height:3.4em;/*line-heignt*行数*/
	width: 100%;
	position:relative;
}



/*
	PressRelease Index
						*/
.preIndex_conWrap{
	width:70%;
	margin:4em auto;
}
.preIndex_conDate{
	font-size: 0.9em;
}
.preIndex_mainImg img{
	width:100%;
	height:auto;
	margin-bottom:1em;
}
.preIndex_mainTitle{
	font-size: 2em;
	font-weight: 800;
	margin:0.5em 0;
}
.preIndex_mainText{
	text-align:left;
}

/*
		LINKS
					*/
.links_blockWrap {
	margin-bottom: 3em;
}
.links_linkBox {
	margin: 0.5em auto;
	text-align: center;
}
.links_banner {
	display: inline-block;
	width: 35%;
	height: auto;
	vertical-align: middle;
}
.links_txt {
	display: inline-block;
	width: 40%;
	text-align: left;
	vertical-align: middle;
	padding-left: 1.5em;
}
.links_title{
	width:100%;
	font-size: 1.2em;
}
/*	
		フッター
					*/
.foot {
	background-color: #000000;
	color: #ffffff;
	height: auto;
	padding: 0.1em 0;
	text-align: center;
	position:relative;
	z-index:0;
}
.foot_smartBox{
	display:none;
}
a.footer {
	color: #ffffff;
	text-decoration: none;
}
.footer_linkSubSection:hover {
	text-decoration: underline;
}
.footer_map {
	text-align: center;
}
.footer_mapBox {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	width: 8em;
	padding: 0.5em;
	text-align: center;
}
.footer_linkMain {
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 0.6em;
	width: 6em;
	border-bottom: 0.15em solid white;
}
.footer_linkSubSection {
	text-align: left;
	padding: 0.1em;
}
#footer_linkTop .footer_linkSubSection {
	padding-left: 2em;
}
#footer_linkAbout .footer_linkSubSection {
	padding-left: 0.5em;
	width: 7em;
}
#footer_linkWorks .footer_linkSubSection {
	padding-left: 1.1em;
}
/**
		 フォーム
						**/
.mailForm{
	text-decoration:underline;
	color:#fff;
}
.mailForm:hover{
	font-weight: 800;
}

.footer_form {
	text-align: center;
}
.form_message {
	vertical-align: top;
}
.form_name {
}
form.footer {
	/* フォームをページの中央に置く */
	margin: 0 auto;
	width: 30em;
	/* フォームの範囲がわかるようにする */
	padding: 1em;
}
#form_contact {
	font-size: 1.4em;
	width: 6em;
	margin: 0em auto;
	border-bottom: 0.15em solid white;
}
form.footer div + div {
	margin-top: 0.05em;
}
input.footer, textarea.footer {
	/* すべてのテキストフィールドのフォント設定を一致させる
       デフォルトで、textarea は等幅フォントが設定されている */
	font: 1em sans-serif;
	/* すべてのテキストフィールドを同じサイズにする */
	width: 30em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* テキストフィールドのボーダーの外見を同一にする */
	border: 1px solid #999;
	background-color: #C0C0C0;
	color: black;
}
.form_send {
	text-align: right;
	width: 30em;
	margin: 0 auto;
}
#footer_submitBtn {
	padding: 0;
	font-size: 1em;
	background-color: #000;
	color: #fff;
	border-style: none;
	cursor: pointer;
}


/**	
		placeholderの装飾
								**/
/* Google Chrome, Safari, Opera 15+, Android, iOS*/
::-webkit-input-placeholder {
 color: black;
 padding-left: 0.5em;
}

/*Firefox 18-*/
:-moz-placeholder {
 color: black;
opacity: 1;
 padding-left: 0.5em;
}

/* Firefox 19+*/
::-moz-placeholder {
 color: black;
opacity: 1;
 padding-left: 0.5em;
}

/* IE 10+*/
:-ms-input-placeholder {
 color: black;
 padding-left: 0.5em;
}