
.about_office {
    text-align: center;
    padding: 0;
    width: 100%;
}

.about_officeItemWrap {
    display: inline-block;
    margin: 1% 1%;
    width: 20%;
    position: relative;
}

.about_officeItem {
    padding-top: 100%;
    /*padding-topの基準はwidth*/
    width: 100%;
    background-size: cover;
    overflow: hidden;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#about_officeItem01 {
    background-image: url(../img/modal/production_Department.jpg);
}

#about_officeItem01:hover {
    background-image: url(../img/modal/production_Department_bright.jpg);
}

#about_officeItem02 {
    background-image: url(../img/modal/technical_Station.jpg);
}

#about_officeItem02:hover {
    background-image: url(../img/modal/technical_Station_bright.jpg);
}

#about_officeItem03 {
    background-image: url(../img/modal/DPI.jpg);
}

#about_officeItem03:hover {
    background-image: url(../img/modal/DPI_bright.jpg);
}

.about_officeItem:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
